* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

button {
  cursor: pointer; }

ul {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none; }

html, body {
  font-family: 'museo_sans_cyrl300';
  font-size: 14px;
  line-height: 1.3;
  min-width: 480px;
  min-height: 100vh;
  color: #000;
  background: #FAFAFA;
  position: relative; }

.main_land {
  height: 100%; }

.container {
  max-width: 1100px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  .container::after {
    content: "";
    display: block;
    width: 100%;
    clear: both; }
  @media (max-width: 1100px) {
    .container {
      padding: 0 15px; } }

header, .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding: 30px 32px 20px;
  position: relative; }
  @media (max-width: 1100px) {
    header, .main-header {
      padding: 20px 15px; } }
  header a.logo, .main-header a.logo {
    display: block; }
  header .btn-menu, .main-header .btn-menu {
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .user, .main-header .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer; }
    header .user .lk, .main-header .user .lk {
      width: 41px;
      height: 41px;
      overflow: hidden;
      border-radius: 50%; }
      header .user .lk img, .main-header .user .lk img {
        display: block;
        width: 41px;
        height: 41px; }
    header .user .open-dropdown, .main-header .user .open-dropdown {
      width: 35px;
      height: 35px;
      box-sizing: border-box;
      padding: 9px; }
    header .user .dropdown-menu, .main-header .user .dropdown-menu {
      display: none;
      position: absolute;
      top: calc(100% + 14px);
      z-index: 20;
      right: 0;
      width: 190px;
      background: #fff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 16px 17px 9px; }
      header .user .dropdown-menu ul li, .main-header .user .dropdown-menu ul li {
        margin-bottom: 10px; }
        header .user .dropdown-menu ul li a, .main-header .user .dropdown-menu ul li a {
          color: #000;
          display: block; }
          header .user .dropdown-menu ul li a:hover, .main-header .user .dropdown-menu ul li a:hover {
            color: #540aa3; }
          @media (max-width: 1023px) {
            header .user .dropdown-menu ul li a, .main-header .user .dropdown-menu ul li a {
              font-size: 18px; } }
      header .user .dropdown-menu ul.up, .main-header .user .dropdown-menu ul.up {
        margin-bottom: 19px;
        padding-bottom: 8px;
        border-bottom: 1px solid #cccccc; }
  header .main-menu, .main-header .main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #6d50ba;
    text-align: center;
    color: #fff;
    padding-top: 51px;
    z-index: 999;
    min-height: 100vh;
    box-sizing: border-box; }
    header .main-menu button.close-menu, .main-header .main-menu button.close-menu {
      border: none;
      background-color: transparent;
      display: inline-block;
      margin-bottom: 53px; }
    header .main-menu ul, .main-header .main-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      header .main-menu ul li, .main-header .main-menu ul li {
        margin-bottom: 30px; }
        header .main-menu ul li a, .main-header .main-menu ul li a {
          color: #fff;
          font-family: 'museo_sans_cyrl900';
          font-size: 26px;
          text-transform: uppercase; }
          header .main-menu ul li a:hover, .main-header .main-menu ul li a:hover {
            color: #540aa3; }
    @media (max-width: 767px) {
      header .main-menu, .main-header .main-menu {
        padding-top: 30px; }
        header .main-menu button.close-menu, .main-header .main-menu button.close-menu {
          margin-bottom: 39px; }
        header .main-menu ul li, .main-header .main-menu ul li {
          margin-bottom: 27px; }
          header .main-menu ul li a, .main-header .main-menu ul li a {
            font-size: 16px; } }

section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #FAFAFA;
  padding-bottom: 98px; }

.section_header {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .section_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section_header h3 {
    font-family: 'museo_sans_cyrl900';
    color: #fff;
    font-size: 42px;
    position: relative;
    line-height: 1;
    z-index: 10;
    margin-bottom: 18px;
    letter-spacing: 1.3px; }
    .section_header h3 a {
      display: inline-block; }
  .section_header span {
    display: block;
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 10; }
    .section_header span b {
      font-family: 'museo_sans_cyrl700';
      font-weight: normal; }
  .section_header.candidat {
    background: url("../upload/candidat.jpg") no-repeat center;
    background-size: cover; }
    .section_header.candidat::before {
      background: rgba(94, 71, 139, 0.7); }
  .section_header.user {
    background: url("../upload/lk_user.jpg") no-repeat center;
    background-size: cover; }
    .section_header.user::before {
      background: rgba(255, 188, 66, 0.7); }
  .section_header.curator {
    background: url("../upload/candidat.jpg") no-repeat center;
    background-size: cover; }
    .section_header.curator::before {
      background: rgba(229, 58, 64, 0.7); }
  .section_header.settings {
    background: url("../upload/candidat.jpg") no-repeat center;
    background-size: cover; }
    .section_header.settings::before {
      background: rgba(104, 104, 104, 0.7); }

.sidebar, .swiper-slide.menu {
  width: 187px;
  margin-top: -94px; }
  .sidebar .user_photo, .swiper-slide.menu .user_photo {
    width: 100%;
    height: 187px;
    overflow: hidden;
    margin-bottom: 21px;
    display: block;
    background: #e2e2e2 url("../img/add_photo.svg") no-repeat 60% 60%;
    background-size: 78px 90px; }
    .sidebar .user_photo.settings, .swiper-slide.menu .user_photo.settings {
      background: #e2e2e2 url("../img/undefined.svg") no-repeat center;
      background-size: 96px 114px; }
    .sidebar .user_photo img, .swiper-slide.menu .user_photo img {
      display: block;
      width: 100%;
      height: auto; }
  .sidebar label, .swiper-slide.menu label {
    display: block;
    width: 100%;
    padding: 0;
    height: 35px;
    line-height: 35px;
    border: 1px solid #1da1b7;
    border-radius: 5px;
    text-align: center;
    color: #1da1b7;
    font-size: 13px;
    margin: -3px 0 17px; }
    .sidebar label:hover, .swiper-slide.menu label:hover {
      background: #1da1b7;
      color: #fff; }
  .sidebar p, .swiper-slide.menu p {
    font-size: 13px;
    line-height: 22px; }
  .sidebar .status, .swiper-slide.menu .status {
    font-size: 16px;
    font-family: 'museo_sans_cyrl700';
    line-height: 1;
    height: 16px;
    margin-bottom: 21px; }
  .sidebar .course, .swiper-slide.menu .course {
    padding: 13px 13px 12px 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
    margin-bottom: 24px; }
    .sidebar .course .title, .swiper-slide.menu .course .title {
      text-align: center;
      font-size: 13px;
      font-family: 'museo_sans_cyrl700';
      display: block; }
    .sidebar .course .irs, .swiper-slide.menu .course .irs {
      margin-top: -18px; }
    .sidebar .course .progress-range, .swiper-slide.menu .course .progress-range {
      text-align: center;
      font-size: 12px;
      display: block;
      margin-top: -3px; }
  .sidebar .sidebar-menu, .swiper-slide.menu .sidebar-menu {
    padding: 20px 12px 22px 22px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px; }
    .sidebar .sidebar-menu ul li, .swiper-slide.menu .sidebar-menu ul li {
      margin-bottom: 10px; }
      .sidebar .sidebar-menu ul li a, .swiper-slide.menu .sidebar-menu ul li a {
        color: #000;
        font-size: 16px; }
        .sidebar .sidebar-menu ul li a:hover, .swiper-slide.menu .sidebar-menu ul li a:hover {
          color: #540aa3; }
      .sidebar .sidebar-menu ul li.active a, .swiper-slide.menu .sidebar-menu ul li.active a {
        position: relative;
        padding-right: 14px; }
        .sidebar .sidebar-menu ul li.active a::before, .swiper-slide.menu .sidebar-menu ul li.active a::before {
          content: "";
          width: 9px;
          height: 9px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 0;
          background: #e53a40;
          border-radius: 50%; }
    .sidebar .sidebar-menu ul.up, .swiper-slide.menu .sidebar-menu ul.up {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 10px;
      margin-bottom: 21px; }
  @media (max-width: 767px) {
    .sidebar, .swiper-slide.menu {
      display: none; } }

@media (max-width: 767px) {
  .settings .container.flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .settings .container.flex-container .sidebar {
      display: block; }
    .settings .container.flex-container .contentIn {
      padding-top: 30px; } }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contentIn {
  width: calc(100% - 280px);
  box-sizing: border-box;
  padding-top: 61px; }
  @media (max-width: 767px) {
    .contentIn {
      width: 100%; } }
  .contentIn h2 {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px; }
  .contentIn .content_text {
    background: #fff;
    border-radius: 5px;
    padding: 28px 38px 29px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
    .contentIn .content_text p {
      font-size: 18px;
      line-height: 28px; }
      .contentIn .content_text p a {
        color: #0099cc;
        text-decoration: underline;
        -webkit-text-decoration-style: dashed;
                text-decoration-style: dashed;
        text-underline-position: under; }
    .contentIn .content_text p:not(.one) {
      margin-bottom: 27px; }
      .contentIn .content_text p:not(.one):last-child {
        margin-bottom: 0; }
    .contentIn .content_text .items {
      padding-top: 46px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 32px; }
      .contentIn .content_text .items .item {
        width: 152px;
        margin-bottom: 20px; }
        .contentIn .content_text .items .item img {
          display: block;
          margin-bottom: 38px; }
        .contentIn .content_text .items .item h3 {
          font-size: 22px;
          line-height: 28px;
          letter-spacing: 0.22px;
          font-family: 'museo_sans_cyrl900';
          margin-bottom: 13px; }
        .contentIn .content_text .items .item p {
          font-size: 16px;
          font-family: 'museo_sans_cyrl300'; }
    .contentIn .content_text.form_calender {
      padding: 36px 53px 31px 38px; }
      .contentIn .content_text.form_calender .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 29px; }
        .contentIn .content_text.form_calender .row .col {
          width: 230px;
          margin-right: 31px; }
          .contentIn .content_text.form_calender .row .col.month {
            width: 210px;
            margin-right: 0; }
          @media (max-width: 1023px) {
            .contentIn .content_text.form_calender .row .col {
              margin-bottom: 10px; }
              .contentIn .content_text.form_calender .row .col.month {
                width: 230px; } }
      .contentIn .content_text.form_calender .dates {
        border: 1px solid #cccccc;
        border-radius: 5px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 19px 28px 20px 23px;
        width: 100%;
        box-sizing: border-box; }
        @media (max-width: 1023px) {
          .contentIn .content_text.form_calender .dates {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            .contentIn .content_text.form_calender .dates .left {
              margin-bottom: 10px; } }
      @media (max-width: 1100px) {
        .contentIn .content_text.form_calender {
          padding: 30px; } }
    .contentIn .content_text.questions {
      padding: 39px 51px 42px 38px; }
      .contentIn .content_text.questions .question {
        margin-bottom: 34px;
        padding-bottom: 30px;
        border-bottom: 1px solid #cccccc; }
        .contentIn .content_text.questions .question h3 {
          font-size: 22px;
          font-family: 'museo_sans_cyrl700';
          margin-bottom: 13px; }
        .contentIn .content_text.questions .question p {
          font-size: 16px;
          line-height: 27px;
          padding-left: 2px; }
        .contentIn .content_text.questions .question:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border: none; }
    .contentIn .content_text.promo {
      padding-bottom: 47px; }
      .contentIn .content_text.promo p {
        margin-bottom: 23px; }
      .contentIn .content_text.promo .row {
        max-width: 529px; }
        .contentIn .content_text.promo .row button {
          height: 50px;
          width: 171px; }
        .contentIn .content_text.promo .row .form-wrap {
          display: block;
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          margin-right: 14px; }
          .contentIn .content_text.promo .row .form-wrap input {
            width: 100%; }
        @media (max-width: 1023px) {
          .contentIn .content_text.promo .row {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .contentIn .content_text.promo .row input {
              margin: 0 0 20px; } }
    .contentIn .content_text.open-dropdown {
      padding: 0;
      margin-bottom: 33px; }
      .contentIn .content_text.open-dropdown a {
        font-size: 22px;
        font-family: 'museo_sans_cyrl700';
        display: block;
        color: #000;
        position: relative;
        padding: 20px 27px 22px 43px; }
        .contentIn .content_text.open-dropdown a::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 27px;
          width: 21px;
          height: 12px;
          background: url("../img/polygon-blue.svg") no-repeat center;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
      .contentIn .content_text.open-dropdown .dropdown {
        display: none;
        padding: 12px 43px 47px; }
        .contentIn .content_text.open-dropdown .dropdown iframe {
          width: 100%;
          max-width: 586px;
          height: 327px; }
      .contentIn .content_text.open-dropdown a.open::before {
        background: url("../img/polygon-blue-up.svg") no-repeat center; }
    .contentIn .content_text.candidat_calendar {
      padding: 36px 56px 45px 39px; }
      .contentIn .content_text.candidat_calendar h3 {
        font-size: 24px;
        font-family: 'museo_sans_cyrl700';
        margin-bottom: 17px;
        letter-spacing: -0.3px; }
      .contentIn .content_text.candidat_calendar .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 660px;
        padding-bottom: 40px;
        border-bottom: 1px solid #afafaf;
        margin-bottom: 25px; }
        .contentIn .content_text.candidat_calendar .row .col1 {
          width: 230px; }
        .contentIn .content_text.candidat_calendar .row .col2 {
          width: 150px; }
        .contentIn .content_text.candidat_calendar .row button {
          width: 218px;
          height: 50px; }
        @media (max-width: 1023px) {
          .contentIn .content_text.candidat_calendar .row {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            .contentIn .content_text.candidat_calendar .row .col {
              margin-bottom: 15px; } }
      .contentIn .content_text.candidat_calendar .table-group .title {
        font-size: 24px;
        font-family: 'museo_sans_cyrl700';
        letter-spacing: -0.3px;
        margin-bottom: 20px; }
      .contentIn .content_text.candidat_calendar .table-group ul.table {
        padding-left: 2px; }
        .contentIn .content_text.candidat_calendar .table-group ul.table > li {
          border-bottom: 1px solid #afafaf;
          padding-bottom: 15px;
          margin-bottom: 16px; }
          .contentIn .content_text.candidat_calendar .table-group ul.table > li ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li {
              font-family: 'museo_sans_cyrl700';
              font-size: 14px;
              color: #000;
              letter-spacing: 0.1px; }
              .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li span.forMobile {
                color: #9e9e9e;
                font-size: 13px;
                font-family: 'museo_sans_cyrl500';
                letter-spacing: 0.3px;
                display: none; }
            .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li.name {
              width: 259px; }
            .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li.email {
              width: 219px; }
            .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li.phone {
              width: 150px; }
            .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li.quantity {
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1; }
            @media (max-width: 1100px) {
              .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li {
                width: 50% !important;
                margin-bottom: 10px; }
                .contentIn .content_text.candidat_calendar .table-group ul.table > li ul li span.forMobile {
                  display: block; } }
        .contentIn .content_text.candidat_calendar .table-group ul.table li.head {
          margin-bottom: 23px;
          border: none;
          padding: 0; }
          .contentIn .content_text.candidat_calendar .table-group ul.table li.head ul li {
            color: #9e9e9e;
            font-size: 13px;
            font-family: 'museo_sans_cyrl500';
            letter-spacing: 0.3px; }
          @media (max-width: 1100px) {
            .contentIn .content_text.candidat_calendar .table-group ul.table li.head {
              display: none; } }
      .contentIn .content_text.candidat_calendar .table-group:not(:last-child) {
        margin-bottom: 35px; }
    .contentIn .content_text.settings {
      padding: 37px 64px 50px 39px; }
      .contentIn .content_text.settings .block {
        padding-bottom: 23px;
        border-bottom: 1px solid #afafaf;
        margin-bottom: 36px; }
        .contentIn .content_text.settings .block:last-of-type {
          border-bottom: none;
          margin-bottom: 2px; }
        .contentIn .content_text.settings .block h3 {
          font-size: 24px;
          font-family: 'museo_sans_cyrl700';
          letter-spacing: -0.3px;
          margin-bottom: 19px; }
        .contentIn .content_text.settings .block h4 {
          font-size: 24px;
          font-family: 'museo_sans_cyrl700';
          letter-spacing: -0.3px;
          margin-bottom: 28px; }
        .contentIn .content_text.settings .block .row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .contentIn .content_text.settings .block .row .col {
            margin-right: 29px;
            width: 340px;
            margin-bottom: 15px; }
            @media (max-width: 1023px) {
              .contentIn .content_text.settings .block .row .col {
                margin-right: 0; } }
            .contentIn .content_text.settings .block .row .col input {
              width: 100%; }
            .contentIn .content_text.settings .block .row .col:last-child {
              margin-right: 0; }
            .contentIn .content_text.settings .block .row .col.col1 {
              width: 90px;
              margin-right: 29px; }
            .contentIn .content_text.settings .block .row .col.col2 {
              width: 110px;
              margin-right: 29px; }
            .contentIn .content_text.settings .block .row .col.col3 {
              width: 82px; }
  .contentIn.user .content_text {
    padding: 28px 38px; }
    .contentIn.user .content_text.anketa {
      padding: 28px 38px 54px; }
      .contentIn.user .content_text.anketa p {
        margin-bottom: 29px; }
      .contentIn.user .content_text.anketa .row {
        margin-bottom: 14px;
        max-width: 718px; }
        .contentIn.user .content_text.anketa .row .col {
          width: 339px; }
          .contentIn.user .content_text.anketa .row .col:first-child {
            margin-bottom: 14px; }
          .contentIn.user .content_text.anketa .row .col label {
            margin-bottom: 7px; }
          .contentIn.user .content_text.anketa .row .col input {
            width: 100%; }
        .contentIn.user .content_text.anketa .row .col:not(:last-child) {
          margin-right: 10px; }
      .contentIn.user .content_text.anketa button {
        margin-top: 44px; }
    .contentIn.user .content_text.moy-kurator {
      padding: 40px 38px 44px; }
      .contentIn.user .content_text.moy-kurator p {
        font-size: 16px;
        line-height: 26px;
        padding-right: 20px; }
      .contentIn.user .content_text.moy-kurator .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 31px; }
        .contentIn.user .content_text.moy-kurator .top .image {
          width: 210px;
          height: 210px;
          overflow: hidden; }
          .contentIn.user .content_text.moy-kurator .top .image img {
            display: block;
            width: 100%;
            height: auto; }
        .contentIn.user .content_text.moy-kurator .top .text {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          box-sizing: border-box;
          padding: 62px 26px 0; }
          .contentIn.user .content_text.moy-kurator .top .text .name {
            font-size: 24px;
            font-family: 'museo_sans_cyrl700';
            margin-bottom: 13px; }
          .contentIn.user .content_text.moy-kurator .top .text b {
            font-size: 16px;
            font-family: 'museo_sans_cyrl700'; }
          .contentIn.user .content_text.moy-kurator .top .text .age {
            margin-bottom: 5px; }
  .contentIn .nearest_set {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 32px;
    margin-bottom: 30px; }
    .contentIn .nearest_set .left .title {
      font-size: 16px;
      font-family: 'museo_sans_cyrl700';
      margin-bottom: 4px; }
      .contentIn .nearest_set .left .title span {
        font-size: 16px;
        font-family: 'museo_sans_cyrl300'; }
    .contentIn .nearest_set .left .timer {
      font-size: 37px;
      font-family: 'museo_sans_cyrl300'; }
    .contentIn .nearest_set button {
      width: 198px;
      height: 60px;
      display: block;
      border: none;
      border-radius: 5px;
      background: #5e478b;
      font-size: 18px;
      color: #fff;
      font-family: 'museo_sans_cyrl900';
      text-transform: uppercase; }
    @media (max-width: 1023px) {
      .contentIn .nearest_set {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .contentIn .nearest_set .left {
          margin-bottom: 10px; } }

footer {
  padding: 30px 0 29px; }
  footer .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .left a.logo {
      display: block;
      margin-bottom: 14px; }
    footer .left p {
      color: #c1c1c1;
      line-height: 1;
      font-size: 14px; }
  footer .right {
    padding-top: 5px;
    padding-right: 2px; }
    footer .right ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .right ul li {
        margin-left: 32px; }
        footer .right ul li:first-child {
          margin-left: 0; }
        footer .right ul li a {
          display: block;
          color: #c1c1c1;
          font-size: 26px; }
          footer .right ul li a:hover {
            color: #cd486b; }
      footer .right ul li.vk {
        margin-left: 34px; }
        footer .right ul li.vk a:hover {
          color: #4c75a3; }
      footer .right ul li.google {
        margin-left: 36px; }
        footer .right ul li.google a {
          font-size: 21px; }
          footer .right ul li.google a:hover {
            color: #dd4b39; }
      footer .right ul li.fb a {
        font-size: 29px; }
        footer .right ul li.fb a:hover {
          color: #3b5999; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide.menu {
  display: none; }
  @media (max-width: 767px) {
    .swiper-slide.menu {
      margin: 0;
      border-radius: 5px;
      display: block;
      width: 260px;
      padding: 20px;
      box-sizing: border-box; }
      .swiper-slide.menu .user_photo {
        height: 220px;
        margin-bottom: 20px;
        border-radius: 5px; }
      .swiper-slide.menu .status {
        font-size: 20px; }
      .swiper-slide.menu .course .title {
        font-size: 16px; }
      .swiper-slide.menu .sidebar-menu ul li a {
        font-size: 18px; } }

.menu-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  cursor: pointer;
  transition: .3s;
  background-color: #2C8DFB;
  border-radius: 5px; }
  @media (max-width: 767px) {
    .menu-button {
      display: block; } }
  .menu-button .bar:nth-of-type(1) {
    margin-top: 0; }
  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0; }
  .menu-button .bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    transition: .3s; }

.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg); }

.menu-button:hover .bar:nth-of-type(2) {
  opacity: .9; }

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg); }

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg); }

.cross .bar:nth-of-type(2) {
  opacity: 0; }

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg); }

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg); }

.cross:hover .bar:nth-of-type(2) {
  opacity: .1; }

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg); }

.selectric {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #fff;
  height: 49px;
  width: 100%; }
  .selectric .label {
    font-size: 15px;
    font-family: 'museo_sans_cyrl500';
    margin: 0;
    box-sizing: border-box;
    padding: 0 30px 0 10px;
    height: 49px;
    line-height: 49px; }
  .selectric .button {
    background: transparent url("../img/polygon.svg") no-repeat 50% 50%;
    background-size: 13px 8px;
    height: 49px;
    width: 30px; }
    .selectric .button:after {
      content: none; }

.selectric-items {
  border: 1px solid #cccccc;
  border-top: none;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 18px;
  padding-bottom: 11px;
  box-sizing: border-box; }
  .selectric-items li {
    font-size: 14px;
    width: 99%;
    font-family: 'museo_sans_cyrl500';
    padding: 0 18px 10px;
    box-sizing: border-box; }
  .selectric-items li:hover, .selectric-items li.highlighted {
    background: #fff;
    color: #540aa3; }

.selectric-open .selectric {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
  .selectric-open .selectric .button {
    background: transparent url("../img/polygon-up.svg") no-repeat center;
    background-size: 13px 8px; }

label {
  cursor: pointer;
  font-size: 14px;
  font-family: 'museo_sans_cyrl500';
  padding-left: 12px;
  margin-bottom: 5px;
  display: block;
  letter-spacing: 0.3px; }

input[type="text"] {
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  height: 52px;
  line-height: 52px;
  padding: 0 12px;
  font-size: 16px;
  font-family: 'museo_sans_cyrl300'; }
  input[type="text"].error {
    border-color: #e00000; }
  input[type="text"]::-webkit-input-placeholder {
    font-size: 16px;
    font-family: 'museo_sans_cyrl300';
    opacity: 1;
    color: #000; }
  input[type="text"]:-moz-placeholder {
    font-size: 16px;
    font-family: 'museo_sans_cyrl300';
    opacity: 1;
    color: #000; }
  input[type="text"]::-moz-placeholder {
    font-size: 16px;
    font-family: 'museo_sans_cyrl300';
    opacity: 1;
    color: #000; }
  input[type="text"]:-ms-input-placeholder {
    font-size: 16px;
    font-family: 'museo_sans_cyrl300';
    opacity: 1;
    color: #000; }

button.btn {
  width: 198px;
  height: 60px;
  display: block;
  border: none;
  border-radius: 5px;
  background: #5e478b;
  font-size: 18px;
  color: #fff;
  font-family: 'museo_sans_cyrl900';
  text-transform: uppercase; }
  button.btn:hover {
    box-shadow: 0px 1px 20px 0px rgba(207, 147, 255, 0.7); }
  button.btn:active {
    border: 1px solid #5e478b;
    color: #5e478b;
    background: #fff;
    box-shadow: none; }

span.error {
  color: #e00000;
  font-size: 14px;
  font-family: 'museo_sans_cyrl500';
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 6px; }

.irs {
  width: 177px;
  margin: 0 -8px; }

.irs-slider {
  background-position: 0 20px; }

.irs-bar, .irs-bar-edge, .irs-line {
  height: 5px; }

.irs-line-mid {
  background: #e1e1e1;
  width: 100%;
  border-radius: 20px;
  height: 5px; }

.irs-line-left, .irs-line-right {
  display: none; }

.irs-bar-edge {
  background: #e1e1e1;
  display: none; }

.irs-bar {
  background: #ffbc42;
  border-radius: 20px; }

.irs-disabled {
  opacity: 1; }

.irs-line {
  border-radius: 20px; }

.tabs ul.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #b0b0b0;
  margin: -4px 0px 40px 2px; }
  .tabs ul.horizontal li:not(:last-child) {
    margin-right: 45px; }
  .tabs ul.horizontal li a {
    font-size: 20px;
    color: #000;
    padding-bottom: 12px;
    position: relative;
    display: block;
    letter-spacing: 0.3px; }
  .tabs ul.horizontal li.active a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #7a4192; }

.tabs .tab .content_text {
  padding: 16px 38px 39px; }
  .tabs .tab .content_text h3 {
    font-size: 16px;
    font-family: 'museo_sans_cyrl700';
    margin-bottom: 28px;
    color: #d80000;
    letter-spacing: 0.3px; }
  .tabs .tab .content_text p {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 27px; }
    .tabs .tab .content_text p b {
      font-family: 'museo_sans_cyrl700'; }

#modalLogIn {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 440px;
  background: #fff;
  z-index: 3000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  padding: 36px 40px 32px;
  border-radius: 5px; }
  #modalLogIn span.close {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 15px;
    height: 15px;
    cursor: pointer; }
    #modalLogIn span.close img {
      display: block;
      width: 100%;
      height: 100%; }
  #modalLogIn h3 {
    font-size: 32px;
    font-family: 'museo_sans_cyrl900';
    text-align: center;
    margin-bottom: 32px; }
  #modalLogIn a {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    padding-left: 28%; }
    #modalLogIn a i {
      display: inline-block;
      line-height: 50px;
      color: #fff;
      width: 30px;
      font-size: 20px; }
  #modalLogIn a.fb {
    background: #3b5999; }
  #modalLogIn a.vk {
    background: #4c75a3; }
  #modalLogIn a.google {
    background: #dd4b39; }
  #modalLogIn a.instagram {
    background: #cd486b; }
  #modalLogIn p {
    text-align: center;
    margin-top: 33px;
    line-height: 22px; }

#wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 35px; }
  @media (max-width: 1100px) {
    .swiper-container-vertical > .swiper-pagination-bullets {
      right: 20px; } }
  @media (max-width: 767px) {
    .swiper-container-vertical > .swiper-pagination-bullets {
      display: none; } }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: #fff;
  opacity: 1;
  margin: 18px 0; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative; }
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%; }

.main-page-swiper .slide_1 {
  background: url("../img/pic-1.jpg"); }

.main-page-swiper .slide_2 {
  background: url("../img/pic-2.jpg"); }

.main-page-swiper .slide_3 {
  background: url("../img/pic-3.jpg"); }

.main-page-swiper .slide_4 {
  background: url("../img/pic-4.jpg"); }

.main-page-swiper .slide_5 {
  background: url("../img/pic-5.jpg"); }

.main-page-swiper .slide_6 {
  background: url("../img/pic-6.jpg"); }

.main-page-swiper .slide_7 {
  background: url("../img/pic-7.jpg"); }

.main-page-swiper .slide_8 {
  background: url("../img/pic-4.jpg"); }

.main-page-swiper .slide_9 {
  background: url("../img/pic-9.jpg"); }

.main-page-swiper .slide_10 {
  background: url("../img/pic-8.jpg"); }

.main-page-swiper .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 80px 0;
  box-sizing: border-box; }
  @media (max-width: 1100px) {
    .main-page-swiper .swiper-slide {
      padding: 80px; }
      .main-page-swiper .swiper-slide.slide_7 {
        padding: 80px 30px; } }
  .main-page-swiper .swiper-slide a.go_down {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    padding-bottom: 66px;
    display: block;
    color: #fff;
    font-size: 13px;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal; }
    .main-page-swiper .swiper-slide a.go_down::before {
      content: "";
      height: 58px;
      width: 2px;
      border-radius: 10px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .main-page-swiper .swiper-slide img.main_img {
    display: block;
    width: 36%;
    height: auto; }
    @media (max-width: 1100px) {
      .main-page-swiper .swiper-slide img.main_img {
        width: 50%; } }
    @media (max-width: 1023px) {
      .main-page-swiper .swiper-slide img.main_img {
        width: 62%; } }
    @media (max-width: 767px) {
      .main-page-swiper .swiper-slide img.main_img {
        width: 440px; } }
  .main-page-swiper .swiper-slide p, .main-page-swiper .swiper-slide h3, .main-page-swiper .swiper-slide h2 {
    color: #fff;
    font-size: 36px;
    font-family: 'museo_sans_cyrl900';
    text-align: center;
    max-width: 940px;
    text-transform: uppercase; }
    @media (max-width: 1100px) {
      .main-page-swiper .swiper-slide p, .main-page-swiper .swiper-slide h3, .main-page-swiper .swiper-slide h2 {
        font-size: 30px; } }
    @media (max-width: 767px) {
      .main-page-swiper .swiper-slide p, .main-page-swiper .swiper-slide h3, .main-page-swiper .swiper-slide h2 {
        font-size: 22px; } }
    .main-page-swiper .swiper-slide p a, .main-page-swiper .swiper-slide h3 a, .main-page-swiper .swiper-slide h2 a {
      color: #ffaa39;
      text-decoration: underline;
      -webkit-text-decoration-style: dashed;
              text-decoration-style: dashed;
      text-underline-position: under; }
  .main-page-swiper .swiper-slide h3, .main-page-swiper .swiper-slide h2 {
    line-height: 1;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    max-width: 100%; }
  .main-page-swiper .swiper-slide h2 {
    font-size: 40px;
    margin-bottom: 50px; }
    @media (max-width: 1100px) {
      .main-page-swiper .swiper-slide h2 {
        font-size: 30px; } }
    @media (max-width: 767px) {
      .main-page-swiper .swiper-slide h2 {
        font-size: 22px; } }
  .main-page-swiper .swiper-slide .items {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box; }
    .main-page-swiper .swiper-slide .items .slick-arrow {
      top: 43%; }
    .main-page-swiper .swiper-slide .items .item {
      width: 260px; }
      .main-page-swiper .swiper-slide .items .item .image {
        width: 100%;
        height: 260px;
        border-radius: 50%;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 35px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #ff9a57;
        background: linear-gradient(to bottom, #ff9a57 0%, #ff3188 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a57', endColorstr='#ff3188', GradientType=0); }
        .main-page-swiper .swiper-slide .items .item .image img {
          display: block;
          width: 240px;
          height: 240px;
          border-radius: 50%; }
      @media (max-width: 1100px) {
        .main-page-swiper .swiper-slide .items .item {
          width: 220px; }
          .main-page-swiper .swiper-slide .items .item .image {
            height: 220px; }
            .main-page-swiper .swiper-slide .items .item .image img {
              width: 200px;
              height: 200px; } }
      .main-page-swiper .swiper-slide .items .item span {
        color: #fff;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'museo_sans_cyrl700';
        line-height: 1; }
    @media (max-width: 870px) {
      .main-page-swiper .swiper-slide .items {
        width: 260px; }
        .main-page-swiper .swiper-slide .items .item {
          width: 100%; }
          .main-page-swiper .swiper-slide .items .item .image {
            width: 100%;
            height: 260px; }
            .main-page-swiper .swiper-slide .items .item .image img {
              width: 240px;
              height: 240px; } }
  .main-page-swiper .swiper-slide ul.icons {
    width: 100%;
    max-width: 1100px;
    margin: 70px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-page-swiper .swiper-slide ul.icons .slick-arrow {
      top: 35%; }
    @media (max-width: 1100px) {
      .main-page-swiper .swiper-slide ul.icons .slick-next {
        right: -20px; }
      .main-page-swiper .swiper-slide ul.icons .slick-prev {
        left: -20px; } }
    .main-page-swiper .swiper-slide ul.icons li {
      width: 200px; }
      .main-page-swiper .swiper-slide ul.icons li .icon {
        width: 147px;
        height: 147px;
        border-radius: 50%;
        overflow: hidden;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto 30px; }
        .main-page-swiper .swiper-slide ul.icons li .icon img {
          width: 90px;
          height: 90px;
          display: block; }
      .main-page-swiper .swiper-slide ul.icons li span {
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-align: center; }
  .main-page-swiper .swiper-slide .whats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1100px; }
    @media (max-width: 1100px) {
      .main-page-swiper .swiper-slide .whats {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .main-page-swiper .swiper-slide .whats .what {
      width: 346px;
      height: 285px;
      overflow: hidden;
      background: #6d50ce;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 14px 37px 14px; }
      @media (max-width: 1100px) {
        .main-page-swiper .swiper-slide .whats .what {
          width: 306px; } }
      .main-page-swiper .swiper-slide .whats .what h4 {
        font-size: 34px;
        line-height: 95px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'museo_sans_cyrl900';
        margin-bottom: 74px; }
      .main-page-swiper .swiper-slide .whats .what p {
        font-family: 'museo_sans_cyrl500';
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
        text-align: left; }
        .main-page-swiper .swiper-slide .whats .what p a {
          color: #fff; }
    @media (max-width: 1000px) {
      .main-page-swiper .swiper-slide .whats {
        width: 350px; }
        .main-page-swiper .swiper-slide .whats .what {
          width: 100%; } }

span.rub {
  font-family: 'pt_sansregular'; }

.slider-comments {
  width: 100%;
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .slider-comments .slick-dots {
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .slider-comments .slick-dots li {
      margin-right: 10px; }
      .slider-comments .slick-dots li button {
        width: 9px;
        height: 9px;
        box-sizing: content-box;
        border-radius: 50%;
        font-size: 0;
        background: none;
        border: 1px solid #fff; }
    .slider-comments .slick-dots li.slick-active button {
      border: none;
      background: #fff; }
  .slider-comments iframe {
    display: block;
    width: 100%;
    height: 385px; }

button.slick-arrow {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0;
  background: none;
  border: none;
  z-index: 20; }
  button.slick-arrow.slick-prev {
    left: -60px;
    background: url("../img/prev.svg") no-repeat center;
    background-size: 35px 10px; }
  button.slick-arrow.slick-next {
    right: -60px;
    background: url("../img/next.svg") no-repeat center;
    background-size: 35px 10px; }

.instagram-slider {
  width: 100%;
  max-width: 910px;
  margin: 0 auto; }
  .instagram-slider .post {
    width: 300px;
    margin: 0 5px;
    box-sizing: border-box;
    background: #fff;
    height: 70vh;
    overflow: hidden; }
    @media (max-width: 1023px) {
      .instagram-slider .post {
        width: 400px; } }
    .instagram-slider .post span.autor {
      font-weight: bold;
      font-size: 14px;
      display: block;
      padding: 10px;
      line-height: 30px; }
      .instagram-slider .post span.autor img {
        display: inline-block;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: top; }
    .instagram-slider .post img {
      display: block;
      width: 100%;
      height: auto; }
    .instagram-slider .post .comments {
      padding: 0 10px; }
      .instagram-slider .post .comments .commit {
        padding-top: 10px; }
        .instagram-slider .post .comments .commit:last-child {
          padding-bottom: 20px; }
        .instagram-slider .post .comments .commit span.autor {
          font-weight: bold;
          font-size: 14px;
          display: inline-block;
          margin-right: 5px;
          line-height: 20px;
          padding: 0; }
          .instagram-slider .post .comments .commit span.autor img {
            display: inline-block;
            margin-right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            vertical-align: top; }
        .instagram-slider .post .comments .commit p {
          font-size: 14px;
          line-height: 22px;
          width: 100%;
          max-width: 100%;
          color: #000;
          text-align: left;
          text-transform: capitalize;
          font-family: 'museo_sans_cyrl300'; }

.main-header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 200;
  padding: 0; }
  .main-header header {
    width: 100%;
    margin: 0 auto;
    padding: 30px 31px 0 49px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .main-header header {
        padding: 30px 20px; } }
  .main-header img {
    display: block; }
  .main-header button.btn-menu {
    background: none;
    border: none;
    position: absolute;
    top: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main-header a.log_in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-family: 'museo_sans_cyrl900';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 6px; }
    .main-header a.log_in img {
      display: block;
      margin-right: 10px; }

.main-page-swiper .swiper-slide.slide_10 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0 30px; }
  .main-page-swiper .swiper-slide.slide_10 .circle_block {
    width: 70vh;
    height: 70vh;
    max-width: 585px;
    max-height: 585px;
    border-radius: 50%;
    background: #6d50ce;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    padding: 11vh 0 15vh; }
    .main-page-swiper .swiper-slide.slide_10 .circle_block p {
      font-size: 4.5vh;
      font-family: 'museo_sans_cyrl900'; }
    .main-page-swiper .swiper-slide.slide_10 .circle_block .counter {
      font-size: 10vh;
      font-family: 'museo_sans_cyrl300';
      margin-bottom: 20px; }
      .main-page-swiper .swiper-slide.slide_10 .circle_block .counter span.day {
        font-size: 4vh; }
    .main-page-swiper .swiper-slide.slide_10 .circle_block button {
      width: 268px;
      height: 50px;
      border-radius: 50px;
      background: #fff;
      color: #5e478b;
      border: none;
      font-size: 2.5vh;
      text-transform: uppercase; }
      .main-page-swiper .swiper-slide.slide_10 .circle_block button:hover, .main-page-swiper .swiper-slide.slide_10 .circle_block button:active {
        background: #5e478b;
        color: #fff; }
  .main-page-swiper .swiper-slide.slide_10 .social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-page-swiper .swiper-slide.slide_10 .social li {
      margin: 0 20px; }
      .main-page-swiper .swiper-slide.slide_10 .social li a {
        color: #fff;
        font-size: 30px;
        font-weight: bold; }

.yorc-logo {
  display: block;
  width: 113px;
  height: 46px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  background: url("../img/logo-yorc-white.svg") no-repeat 42px 18px;
  background-size: 54px 28px;
  position: absolute;
  bottom: 25px;
  right: 20px; }
  @media (max-width: 560px) {
    .yorc-logo {
      right: 0;
      bottom: 15px; } }

@media (max-width: 1100px) {
  .main-page-swiper .swiper-slide.slide_9 {
    padding: 40px 100px; } }

@media (max-width: 980px) {
  .main-page-swiper .swiper-slide.slide_5 ul.icons {
    display: none; }
  .main-page-swiper .swiper-slide.slide_8 {
    padding: 80px 100px; } }

@media (max-width: 767px) {
  .main-page-swiper .swiper-slide.slide_8 {
    padding: 0; }
    .main-page-swiper .swiper-slide.slide_8 .slider-comments {
      width: 440px; }
      .main-page-swiper .swiper-slide.slide_8 .slider-comments iframe {
        height: 280px; }
  .main-page-swiper .swiper-slide {
    padding-top: 0;
    padding-bottom: 0; } }
