<footer>
    <div class="container flex-container">
        <div class="left">
            <a href="index.html" class="logo"><img src="img/logo.svg" width="143" height="46" alt="logo"></a>
            <p>©2017</p>
        </div>
        <div class="right">
            <ul>
                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="vk"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>