<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<link rel="icon" sizes="32x32" href="favicon.ico">
<link rel="stylesheet" href="fonts/fonts.css">
<link rel="stylesheet" href="https://use.fontawesome.com/3841572c40.css">
<link rel="stylesheet" href="vender/swiper/css/swiper.css">
<link rel="stylesheet" href="vender/selectric/selectric.css">
<link rel="stylesheet" href="vender/swiper/css/swiper.min.css">
<link rel="stylesheet" href="vender/ionrangeSlider/css/ion.rangeSlider.css">
<link rel="stylesheet" href="vender/ionrangeSlider/css/ion.rangeSlider.skinFlat.css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
      rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="vender/slick/css/slick.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">


