<header>
    <a href="index.html" class="logo"><img src="img/logo.svg" width="143" height="46" alt="logo"></a>
    <button class="btn-menu"><img src="img/menu.svg" width="38" height="23" alt="menu"></button>
    <div id="open-dropdown" class="user">
        <span class="lk"><img src="img/user.svg" width="41" height="41" alt="user"></span>
        <span class="open-dropdown"><img src="img/polygon.svg" width="13" height="8" alt=""></span>
        <div class="dropdown-menu">
            <ul class="up">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О программе</a></li>
                <li><a href="#">Календарь</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Помокод</a></li>
            </ul>
            <ul class="bottom">
                <li><a href="#">Мой профиль</a></li>
                <li><a href="#">Выйти</a></li>
                <li><a id="logIn" href="#">Войти</a></li>
            </ul>
        </div>
    </div>
    <div class="main-menu">
        <button class="close-menu"><img src="img/menu_main.svg" width="25" height="25" alt="menu_main.svg"></button>
        <ul>
            <li><a href="index.html?active=1" id="anchor1">Кто мы</a></li>
            <li><a href="index.html?active=2" id="anchor2">наша Команда</a></li>
            <li><a href="index.html?active=3" id="anchor3">Что мы делаем</a></li>
            <li><a href="index.html?active=4" id="anchor4">О курсе</a></li>
            <li><a href="index.html?active=5" id="anchor5">Что получишь</a></li>
            <li><a href="index.html?active=6" id="anchor6">Что от тебя нужно</a></li>
            <li><a href="index.html?active=7" id="anchor7">Отзывы о нас</a></li>
            <li><a href="index.html?active=8" id="anchor8">Отзывы Instagram</a></li>
            <li><a href="index.html?active=9" id="anchor9">Записаться на курс</a></li>
        </ul>
    </div>
</header>