<section class="candidat">
    <div class="section_header candidat">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Lesovaya Marri <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status"></div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О программе</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">FAQ </a></li>
                    <li><a href="#">Помокод</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Личный кабинет</h2>
            <div class="content_text">
                <p class="one">
                    Добро пожаловать в IamUnity. Это твой личный кабинет.
                    Здесь ты узнаешь всю информацию о программе Reboot.
                    Ты сможешь выбрать подходящую дату начала курса и получить ответы
                    на вопросы в разделе FAQ.
                </p>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
