<section class="curator">
    <div class="section_header curator">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Mila Modzelevskaya <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo"></div>
            <div class="status">Куратор</div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                    <li><a href="#">Инструкция <br> куратора</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Календарь</h2>
            <div class="content_text candidat_calendar">
                <h3>Набрать новый набор</h3>
                <form action="#">
                    <div class="row">
                        <div class="col col1">
                            <label for="sel1">Период проведения</label>
                            <select id="sel1" class="selectric">
                                <option value="1">15.02.2018 - 22.02.2018</option>
                                <option value="2">15.02.2018 - 22.02.2018</option>
                                <option value="3">15.02.2018 - 22.02.2018</option>
                                <option value="4">15.02.2018 - 22.02.2018</option>
                            </select>
                        </div>
                        <div class="col col2">
                            <label for="sel2">Ко-во участников</label>
                            <select id="sel2" class="selectric">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="1">5</option>
                                <option value="1">6</option>
                                <option value="1">7</option>
                                <option value="1">8</option>
                                <option value="1">9</option>
                                <option value="1">10</option>
                            </select>
                        </div>
                        <button class="btn">Собрать группу</button>
                    </div>
                </form>
                <div class="table-group">
                    <div class="title">Моя группа 04.12.17 - 24.12.17</div>
                    <ul class="table">
                        <li class="head">
                            <ul>
                                <li class="name">Имя участника</li>
                                <li class="email">Email</li>
                                <li class="phone">Телефон</li>
                                <li class="quantity">Кол-во чисток</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Елизавет Тихонова</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Елизавет Тихонова</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Елизавет Тихонова</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Елизавет Тихонова</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Елизавет Тихонова</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="table-group">
                    <div class="title">Моя группа 12.01.18 - 02.02.18</div>
                    <ul class="table">
                        <li class="head">
                            <ul>
                                <li class="name">Имя участника</li>
                                <li class="email">Email</li>
                                <li class="phone">Телефон</li>
                                <li class="quantity">Кол-во чисток</li>
                            </ul>
                        </li>
                        <li>
                        <ul>
                            <li class="name"><span class="forMobile">Имя участника</span> Константинопольский Костя</li>
                            <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                            <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                            <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                        </ul>
                    </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Константинопольский Костя</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Константинопольский Костя</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="name"><span class="forMobile">Имя участника</span> Константинопольский Костя</li>
                                <li class="email"><span class="forMobile">Email</span>Tikhonova@yandex.ru</li>
                                <li class="phone"><span class="forMobile">Телефон</span>+7 925 323 23 23</li>
                                <li class="quantity"><span class="forMobile">Кол-во чисток</span>3</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
