<section class="curator">
    <div class="section_header curator">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Mila Modzelevskaya <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo"></div>
            <div class="status">Куратор</div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                    <li><a href="#">Инструкция <br> куратора</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn user">
            <h2>Личный кабинет</h2>
            <div class="content_text">
                <p class="one">
                    Привет куратор!
                </p>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
