<section class="settings">
    <div class="section_header settings">
        <h3>Настройка профиля</h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo settings"></div>
            <input hidden id="addPhoto" type="file">
            <label for="addPhoto">Загрузить фото</label>
            <p>
                Рекомендованный размер фото
                - не менее 200x200 px, jpg, png.
            </p>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Личные данные</h2>
            <div class="content_text settings">
                <form action="#">
                    <div class="block">
                        <h4>Личные данные</h4>
                        <div class="row">
                            <div class="col">
                                <label for="sName">Имя</label>
                                <input type="text" id="sName" placeholder="Маша">
                            </div>
                            <div class="col">
                                <label for="sLastName">Фамилия</label>
                                <input type="text" id="sLastName" placeholder="Лесовая">
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h3>Контактные данные</h3>
                        <div class="row">
                            <div class="col">
                                <label for="sEmail">Email</label>
                                <input type="text" id="sEmail" placeholder="1231@yandex.ru">
                            </div>
                            <div class="col">
                                <label for="sPhone">Телефон</label>
                                <input type="text" id="sPhone" placeholder="+7 (925) 232-32-32">
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h3>Дата рождения</h3>
                        <div class="row">
                            <div class="col col1">
                                <label for="sel4">День</label>
                                <select id="sel4" class="selectric">
                                    <option value="12">12</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col col2">
                                <label for="sel5">Месяц</label>
                                <select id="sel5" class="selectric">
                                    <option value="1">Январь</option>
                                    <option value="2">Февраль</option>
                                    <option value="3">Март</option>
                                    <option value="4">Апрель</option>
                                    <option value="5">Май</option>
                                    <option value="6">Июнь</option>
                                    <option value="7">Июль</option>
                                    <option value="8">Август</option>
                                    <option value="9">Сентябрь</option>
                                    <option value="10">Октябрь</option>
                                    <option value="11">Ноябрь</option>
                                    <option value="12">Декабрь</option>
                                </select>
                            </div>
                            <div class="col col3">
                                <label for="sel6">Год</label>
                                <select id="sel6" class="selectric">
                                    <option value="1">1992</option>
                                    <option value="1">1993</option>
                                    <option value="1">1994</option>
                                    <option value="1">1995</option>
                                    <option value="1">2012</option>
                                    <option value="1">2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h3>Место проживания</h3>
                        <div class="row">
                            <div class="col">
                                <label for="country">Страна</label>
                                <select id="country" class="selectric">
                                    <option value="">Россия</option>
                                    <option value="">Украина</option>
                                    <option value="">Казахстан</option>
                                    <option value="">Кыргызстан</option>
                                    <option value="">Узбекистан</option>
                                    <option value="">Германия</option>
                                    <option value="">Польша</option>
                                    <option value="">Венгрия</option>
                                    <option value="">Бельгия</option>
                                    <option value="">Норвегия</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="city">Город</label>
                                <select id="city" class="selectric">
                                    <option value="">Москва</option>
                                    <option value="">Казань</option>
                                    <option value="">Сочи</option>
                                    <option value="">Краснодар</option>
                                    <option value="">Красноярск</option>
                                    <option value="">Волгоград</option>
                                    <option value="">Санкт-петербург</option>
                                    <option value="">Тула</option>
                                    <option value="">Нижний Новгород</option>
                                    <option value="">Тюмень</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn">Сохранить</button>
                </form>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>