<section class="user">
    <div class="section_header user">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Alex Ligyn <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
        <span><b>Твой куратор:</b> Константин Константинопольский</span>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user2.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status">Участник</div>
            <div class="course">
                <span class="title">Курс пройден</span>
                <input class="range">
                <span class="progress-range">14 из 21 дней</span>
            </div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li class="active"><a href="#">Анкета участника</a></li>
                    <li><a href="#">Мой куратор</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Инструкция</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn user">
            <h2>Анкета участника</h2>
            <div class="content_text anketa">
                <p>
                    Перед началом курса заполните анкету учатника.
                    Она пожет нам собрать информацию чтобы результат был супер!
                </p>
                <form action="#">
                    <div class="row flex-container">
                        <div class="col">
                            <label for="name">Имя</label>
                            <input type="text" id="name" placeholder="Маша">
                        </div><!--col-->
                        <div class="col">
                            <label for="lastName">Фамилия</label>
                            <input type="text" id="lastName" placeholder="Лесовая">
                        </div><!--col-->
                    </div><!--row-->
                    <div class="row flex-container">
                        <div class="col">
                            <label for="age">Ваш возраст (лет)</label>
                            <input type="text" id="age">
                        </div><!--col-->
                        <div class="col">
                            <label for="weight">Вес (кг)</label>
                            <input type="text" id="weight">
                        </div><!--col-->
                    </div><!--row-->
                    <div class="row flex-container">
                        <div class="col">
                            <label for="height">Рост (см)</label>
                            <input type="text" id="height">
                        </div><!--col-->
                        <div class="col">
                            <label for="profession">Профессия</label>
                            <input type="text" id="profession">
                        </div><!--col-->
                    </div><!--row-->
                    <div class="row flex-container">
                        <div class="col">
                            <label for="water">Сколько воды вы пьете в день сегодня?</label>
                            <input type="text" id="water">
                        </div><!--col-->
                        <div class="col">
                            <label for="disease">Есть ли у вас хронические заболевания?</label>
                            <input type="text" id="disease">
                        </div><!--col-->
                    </div><!--row-->
                    <button class="btn">Сохранить</button>
                </form>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
