<section class="user">
    <div class="section_header user">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Alex Ligyn <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
        <span><b>Твой куратор:</b> Константин Константинопольский</span>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user2.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status">Участник</div>
            <div class="course">
                <span class="title">Курс пройден</span>
                <input class="range">
                <span class="progress-range">14 из 21 дней</span>
            </div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li class="active"><a href="#">Анкета участника</a></li>
                    <li><a href="#">Мой куратор</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Инструкция</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Еда</h2>
            <div class='tabs'>
                <ul class='horizontal'>
                    <li><a href="#tab-1">Запрещенные</a></li>
                    <li><a href="#tab-2">Разрешенные</a></li>
                    <li><a href="#tab-3">Рецепты</a></li>
                </ul>
                <div class="tab" id='tab-1'>
                    <div class="content_text">
                        <h3>Строго нельзя (100% исключить):</h3>
                        <p><b>Алкоголь в любом виде</b> – вызывает сильную интоксикацию
                            и процессы брожения
                        </p>

                        <p><b>Газированные напитки</b> – вызывают брожение и газообразование,
                            содержат углекислоту, нарушают кислотно-щелочной баланс организма.
                            Некоторые газированные напитки содержат сахар или синтетические
                            сахарозаменители
                        </p>

                        <p><b>Гидрогенизированные растительные масла</b> (кондитерский и кулинарный жир,
                            маргарин, спреды и т.д.) и любые содержащие их продукты – содержат
                            изменённую структуру жирных кислот, которые не встречаются в природе
                            и вредны для человека. Эти вещества необходимо исключить из питания
                            полностью, а не только в период очищения.
                        </p>

                        <p><b>Жареная пища</b> – при высокой температуре все полезные вещества
                            в продуктах разрушаются, и пища превращается в тяжкий груз для
                            пищеварительной системы
                        </p>

                        <p><b>Консервы ЛЮБЫЕ</b> (сладости, соления, маринады и др.) – содержат
                            консерванты (дополнительный источник токсинов), создают повышенную
                            нагрузку на пищеварение, т.к. в консервированных продуктах отсутствуют
                            живые ферменты
                        </p>

                        <p><b>Сахар и продукты, содержащие сахар</b> – вызывает процессы брожения,
                            является питательным веществом для грибков и вредных бактерий.
                        </p>

                        <p><b>Соль и продукты, содержащие соль</b> – задерживает воду в клетках
                            и межклеточной жидкости, замедляет процессы детоксикации
                        </p>
                    </div>
                </div>
                <div class="tab" id='tab-2'><div class="content_text">
                    <h3>Lorem ipsum dolor sit </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eligendi exercitationem molestiae quibusdam rem saepe sint sit temporibus velit voluptatem! Culpa, cupiditate incidunt perspiciatis quis sed totam? Corporis tempora, voluptatem?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eligendi exercitationem molestiae quibusdam rem saepe sint sit temporibus velit voluptatem! Culpa, cupiditate incidunt perspiciatis quis sed totam? Corporis tempora, voluptatem?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eligendi exercitationem molestiae quibusdam rem saepe sint sit temporibus velit voluptatem! Culpa, cupiditate incidunt perspiciatis quis sed totam? Corporis tempora, voluptatem?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eligendi exercitationem molestiae quibusdam rem saepe sint sit temporibus velit voluptatem! Culpa, cupiditate incidunt perspiciatis quis sed totam? Corporis tempora, voluptatem?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eligendi exercitationem molestiae quibusdam rem saepe sint sit temporibus velit voluptatem! Culpa, cupiditate incidunt perspiciatis quis sed totam? Corporis tempora, voluptatem?</p>
                </div></div>
                <div class="tab" id='tab-3'><div class="content_text">
                    <h3>Lorem ipsum dolor sit ame</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda autem culpa deserunt explicabo, inventore ipsam iure neque nulla omnis pariatur perferendis perspiciatis placeat quos, recusandae, sequi velit vero. Ea.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda autem culpa deserunt explicabo, inventore ipsam iure neque nulla omnis pariatur perferendis perspiciatis placeat quos, recusandae, sequi velit vero. Ea.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda autem culpa deserunt explicabo, inventore ipsam iure neque nulla omnis pariatur perferendis perspiciatis placeat quos, recusandae, sequi velit vero. Ea.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda autem culpa deserunt explicabo, inventore ipsam iure neque nulla omnis pariatur perferendis perspiciatis placeat quos, recusandae, sequi velit vero. Ea.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda autem culpa deserunt explicabo, inventore ipsam iure neque nulla omnis pariatur perferendis perspiciatis placeat quos, recusandae, sequi velit vero. Ea.</p>
                </div></div>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
