<section class="user">
    <div class="section_header user">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Alex Ligyn <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
        <span><b>Твой куратор:</b> Константин Константинопольский</span>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user2.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status">Участник</div>
            <div class="course">
                <span class="title">Курс пройден</span>
                <input class="range">
                <span class="progress-range">14 из 21 дней</span>
            </div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li class="active"><a href="#">Анкета участника</a></li>
                    <li><a href="#">Мой куратор</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Инструкция</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Инструкция</h2>
            <div class="content_text open-dropdown">
                <a href="#">Подготовка к программе</a>
                <div class="dropdown">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius fuga nihil repellendus sed velit? Ad amet, animi assumenda
                    aut corporis fuga libero minus odio odit officia pariatur ratione
                    totam voluptatibus!</p>
                </div>
            </div>
            <div class="content_text open-dropdown">
                <a href="#">Видеоинструкция</a>
                <div class="dropdown">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RgcyZYFINXI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="content_text open-dropdown">
                <a href="#">Подготовка к коловаде</a>
                <div class="dropdown">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Eius fuga nihil repellendus sed velit? Ad amet, animi assumenda
                        aut corporis fuga libero minus odio odit officia pariatur ratione
                        totam voluptatibus!
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Impedit ipsa nesciunt quia saepe voluptas?
                        At, culpa deserunt dicta dolorum iusto laboriosam nesciunt non,
                        officia provident quas quis tempora, totam velit.</p>
                </div>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
