<section class="user">
    <div class="section_header user">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Alex Ligyn <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
        <span><b>Твой куратор:</b> Константин Константинопольский</span>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user2.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status">Участник</div>
            <div class="course">
                <span class="title">Курс пройден</span>
                <input class="range">
                <span class="progress-range">14 из 21 дней</span>
            </div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li class="active"><a href="#">Анкета участника</a></li>
                    <li><a href="#">Мой куратор</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Инструкция</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn user">
            <h2>Личный кабинет</h2>
            <div class="content_text">
                <p class="one">
                    Спасибо! Теперь ты участник ImUNITY.
                    Для достижения своих первых результатов помоги нам немного узнать о себе
                    и заполни анкету участника. В разделе еда ты можешь ознакомиться со
                    списком рекомендуемых продуктов, а также тебе доступен продвинутый FAQ.
                </p>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
