
<section class="candidat">
    <div class="section_header candidat">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Lesovaya Marri <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status"></div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О программе</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">FAQ </a></li>
                    <li><a href="#">Помокод</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>О программе</h2>
            <div class="content_text">
                <p>
                    Мы разработали крутой пошаговый курс для
                    полной перезагрузки организма, который делится
                    на три этапа и занимает 21 день.
                </p>

                <p>
                    В основе лежит программа очищения организма <a href="#">Colovada Plus</a> (пр-во США).
                    Это доступный и удобный детокс курс, который
                    подойдет даже самому занятому жителею мегаполиса.
                    Главное обеспечить себя едой из списка “разрешенных продуктов” , соблюдать водный баланс,
                    режим 3-х часового питания и дважды в день принимать комплекс натуральных компонентов,
                    направленный на детоксикацию
                    и очищение организма.
                </p>

                <p>
                    Программу можно проходить практически не меняя привычный образ жизни,
                    без отрыва от производства и дискомфорта для себя и окружающих.
                </p>

                <p>
                    Начиная с подготовительного этапа ты будешь обеспечен поддержкой кураторов
                    в закрытом чате с другими участниками .
                </p>

                <div class="items">
                    <div class="item">
                        <img src="img/item1.png" width="106" height="122" alt="">
                        <h3>Первый <br>
                            этап</h3>
                        <p>ЗОЖ-питание</p>
                    </div>
                    <div class="item">
                        <img src="img/item2.png" width="106" height="122" alt="">
                        <h3>Второй <br>
                            этап</h3>
                        <p>ЗОЖ питание + <br>
                            травы</p>
                    </div>
                    <div class="item">
                        <img src="img/item3.png" width="106" height="122" alt="">
                        <h3>Третий <br>
                            этап</h3>
                        <p>Травы + <br>
                            абсорбирующий <br>
                            порошок <br>
                            colovada mix</p>
                    </div>
                    <div class="item">
                        <img src="img/item4.png" width="106" height="122" alt="">
                        <h3>Четвертый <br>
                            этап</h3>
                        <p>ЗОЖ-питание + <br>
                            травы + <br>
                            прибиотик</p>
                    </div>
                </div>
                <p>
                    Наша команда обеспечит тебя подробной инструкцией, полезной информацией
                    и круглосуточной поддержкой .
                    Ты не будешь один, сотни участников из разных стран мира одновременно
                    проходят программу.
                </p>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
