<section class="candidat">
    <div class="section_header candidat">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Lesovaya Marri <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status"></div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О программе</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">FAQ </a></li>
                    <li><a href="#">Помокод</a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>FAQ</h2>
            <div class="content_text questions">
                <div class="question">
                    <h3>Есть ли противопоказания?</h3>
                    <p>
                        Противопоказаниями для любой очистительной программы являются острые
                        лихорадочные состояния, открытые язвы желудка и двенадцатиперстной кишки,
                        тяжелая сердечно-сосудистая патология и
                        мелкие конкременты(камни) в желчевыводящей
                        и мочевыделительной системах.
                    </p>
                </div><!--question-->
                <div class="question">
                    <h3>Могу ли я заниматься спортом во время программы?</h3>
                    <p>
                        Да, заниматься спортом можно. Рекомендуется заниматься
                        оздоровительной гимнастикой - дыхательной, суставной;
                        йогой и др. Во время второго этапа(«Очищение») рекомендуем
                        снизить нагрузку. (рекомендуется щадящий режим!)
                    </p>
                </div><!--question-->
                <div class="question">
                    <h3>Можно ли ходить в баню/сауну во время программы?</h3>
                    <p>
                        Баня 40-50-60 градусов Цельсия максимум(выпивать не менее 500-700 мл.
                        воды) Во время второго этапа(«Очищение») баня не рекомендуется.
                    </p>
                </div><!--question-->
                <div class="question">
                    <h3>Какого режима питания придерживаться во время программы?</h3>
                    <p>
                        Вся необходимая информация по питанию находится в разделе «Еда».
                    </p>
                </div><!--question-->
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
