<section class="user">
    <div class="section_header user">
        <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h3>Alex Ligyn <a href="#" class="edit"><img src="img/pencil.svg" width="35" height="35" alt="edit"></a>
        </h3>
        <span><b>Твой куратор:</b> Константин Константинопольский</span>
    </div>    <!--section_header-->
    <div class="container flex-container">
        <div class="sidebar">
            <div class="user_photo">
                <img src="upload/user2.jpg" width="783" height="783" alt="user photo">
            </div>
            <div class="status">Участник</div>
            <div class="course">
                <span class="title">Курс пройден</span>
                <input class="range">
                <span class="progress-range">14 из 21 дней</span>
            </div>
            <div class="sidebar-menu">
                <ul class="up">
                    <li><a href="#">Главная</a></li>
                    <li class="active"><a href="#">Анкета участника</a></li>
                    <li><a href="#">Мой куратор</a></li>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Инструкция</a></li>
                    <li><a href="#">Еда</a></li>
                    <li><a href="#">FAQ </a></li>
                </ul>
                <ul class="bottom">
                    <li><a href="#">Группа в Facebook</a></li>
                    <li><a href="#">Канал Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>        <!--sibebar-->
        <div class="contentIn">
            <h2>Календарь</h2>
            <div class="content_text flex-container nearest_set">
                <div class="left">
                    <div class="title">Рекомендуемый набор: <span>15 марта - 30 марта 2018</span></div>
                    <div class="timer">42:05:49:21</div>
                </div>
                <button class="btn">Записаться</button>
            </div>
            <div class="content_text form_calender">
                <form action="#">
                    <div class="row">
                        <div class="col">
                            <label for="date">Период проведения</label>
                            <select id="date" class="selectric">
                                <option value="1" selected>Все</option>
                                <option value="2">4.12.2017 - 24.01.2017</option>
                                <option value="3">2.01.2018 - 21.01.2018</option>
                                <option value="4">2.02.2018 - 21.02.2018</option>
                                <option value="5">22.02.2018 - 16.03.2018</option>
                            </select>
                        </div><!--col-->
                        <div class="col month">
                            <label for="month">Месяц</label>
                            <select id="month" class="selectric">
                                <option value="1" selected>Все</option>
                                <option value="2">Январь</option>
                                <option value="3">Февраль</option>
                                <option value="4">Март</option>
                                <option value="5">Апрель</option>
                            </select>
                        </div><!--col-->
                    </div><!--row-->
                </form>
                <div class="flex-container nearest_set dates">
                    <div class="left">
                        <div class="title">Даты проведения: <span>4 декабря - 24 декабря</span></div>
                    </div>
                    <button class="btn">Записаться</button>
                </div>
                <div class="flex-container nearest_set dates">
                    <div class="left">
                        <div class="title">Даты проведения: <span>12 января - 2 февраля</span></div>
                    </div>
                    <button class="btn">Записаться</button>
                </div>
                <div class="flex-container nearest_set dates">
                    <div class="left">
                        <div class="title">Даты проведения: <span>15 февраля - 22 февраля</span></div>
                    </div>
                    <button class="btn">Записаться</button>
                </div>
            </div>
        </div>        <!--content-->
    </div>    <!--container-->
</section>
