<div class="main-header">
    <header>
        <a href="#" class="logo"><img src="img/unity_logo.svg" width="143" height="46" alt=""></a>
        <button class="btn-menu"><img src="img/main-menu.svg" width="38" height="23" alt="menu"></button>
        <a href="#" id="logIn" class="log_in"><img src="img/main_user.svg" width="18" height="22" alt="">Войти</a>
    </header>
    <div class="main-menu">
        <button class="close-menu"><img src="img/menu_main.svg" width="25" height="25" alt="menu_main.svg"></button>
        <ul>
            <li><a href="index.html?active=1" id="anchor1">Кто мы</a></li>
            <li><a href="index.html?active=2" id="anchor2">наша Команда</a></li>
            <li><a href="index.html?active=3" id="anchor3">Что мы делаем</a></li>
            <li><a href="index.html?active=4" id="anchor4">О курсе</a></li>
            <li><a href="index.html?active=5" id="anchor5">Что получишь</a></li>
            <li><a href="index.html?active=6" id="anchor6">Что от тебя нужно</a></li>
            <li><a href="index.html?active=7" id="anchor7">Отзывы о нас</a></li>
            <li><a href="index.html?active=8" id="anchor8">Отзывы Instagram</a></li>
            <li><a href="index.html?active=9" id="anchor9">Записаться на курс</a></li>
        </ul>
    </div>
</div>
<div id="modalLogIn">
    <span class="close" id="closeModal"><img src="img/close.svg" alt=""></span>
    <h3>Вход</h3>
    <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i> Войти через Facebook</a>
    <a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i> Войти через VK</a>
    <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i> Войти через Google</a>
    <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i> Войти через Instagram</a>
    <p>
        Уважаемые участники пользуйтесь только одной <br>
        социальной сетью для входа
    </p>
</div><!--modalLogIn-->