<div class="swiper-container main-page-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide_1">
            <img class="main_img" src="img/unity_main.png" alt="">
            <a href="#" class="go_down">Начнем</a>
        </div>
        <div class="swiper-slide slide_2">
            <p>Новый online проект, объединяющий людей со всего мира, стремящихся быть здоровыми, счастливыми и
                успешными.
                <br>
                <br>
                Нас уже 700+</p>
        </div>
        <div class="swiper-slide slide_3">
            <h3>НАША КОМАНДА</h3>
            <div class="items">
                <div class="item">
                    <div class="image"><img src="upload/mila.jpg" alt=""></div>
                    <span>Мила</span>
                </div>
                <div class="item">
                    <div class="image"><img src="upload/sasha.jpg" alt=""></div>
                    <span>Саша</span>
                </div>
                <div class="item">
                    <div class="image"><img src="upload/masha.jpg" alt=""></div>
                    <span>Маша</span>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide_4">
            <p>Мы разработали пошаговый курс
                для полной перезагрузки организма.
                <br>
                <br>
                В основе этого курса лежит самая безопасная и эффективная
                программа очищения <a href="#">Colovada</a>, адаптированная
                под жизнь современного человека.</p>
        </div>
        <div class="swiper-slide slide_5">
            <p>Как часто вы пытались начать что-то новое и бросали из-за
                отсутствия поддержки? Теперь все будет по-другому.
                мы обеспечим всем участникам мощную поддержку как во время,
                так и после курса
            </p>
            <ul class="icons">
                <li>
                    <div class="icon icon-i-chat"><img src="img/icons/I_Chat.svg" alt=""></div>
                    <span>закрытый <br>чат</span></li>
                <li>
                    <div class="icon icon-i-inddividual"><img src="img/icons/I_inddividual.svg" alt=""></div>
                    <span>Индивидуальный <br> подход</span></li>
                <li>
                    <div class="icon icon-i-kurator"><img src="img/icons/I_Kurator.svg" alt=""></div>
                    <span>Личный <br>куратор</span></li>
                <li>
                    <div class="icon icon-i-instruction"><img src="img/icons/I_Instruction.svg" alt=""></div>
                    <span>ПОШАГОВЫЕ <br>ИНСТРУКЦИИ</span></li>
            </ul>
        </div>
        <div class="swiper-slide slide_6">
            <h3>присоединяйся, и ты получишь</h3>
            <ul class="icons" id="connectSlider">
                <li>
                    <div class="icon"><img src="img/icons/I_Weight.svg" alt=""></div>
                    <span>Снижение веса</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_Skin.svg" alt=""></div>
                    <span>улучшение качества <br>кожи</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_Sugar.svg" alt=""></div>
                    <span>потеря тяги  <br>к сахару</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_Body.svg" alt=""></div>
                    <span>Здоровое <br>тело</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_.Privichki.svg" alt=""></div>
                    <span>Снижение веса</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_.Community.svg" alt=""></div>
                    <span>улучшение качества <br>кожи</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_Physiology.svg" alt=""></div>
                    <span>потеря тяги  <br>к сахару</span>
                </li>
                <li>
                    <div class="icon"><img src="img/icons/I_Energy.svg" alt=""></div>
                    <span>Здоровое <br>тело</span>
                </li>
            </ul>
        </div>
        <div class="swiper-slide slide_7">
            <h3>Что от тебя нужно</h3>
            <div class="whats">
                <div class="what">
                    <h4>Желание</h4>
                    <p>Быть <br> здоровым</p>
                </div>
                <div class="what">
                    <h4>21 день</h4>
                    <p>ровно столько <br> Длится наш курс</p>
                </div>
                <div class="what">
                    <h4>5439 <span class="rub">&#8399;</span></h4>
                    <p>узнать цену <br> <a href="#">в своей стране</a></p>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide_8">
            <h2>Отзывы о нас</h2>
            <div class="slider-comments">
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/JC_qvR9ncNI?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/OLSUjtgJdMg?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/RFmNJNzvgo4?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/JC_qvR9ncNI?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/OLSUjtgJdMg?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/RFmNJNzvgo4?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/JC_qvR9ncNI?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/OLSUjtgJdMg?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="comment">
                    <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/RFmNJNzvgo4?rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide_9">
            <div class="instagram-slider">

            </div>
        </div>
        <div class="swiper-slide slide_10">
            <div class="circle_block">
                <p>До начала курса <br> осталось</p>
                <div id="counter" class="counter">12 <span class="day">дней</span> 05:30:12</div>
                <button>стать участником</button>
            </div>
            <ul class="social">
                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="vk"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            <a href="http:\\yorc.org" class="yorc-logo">Сайт разработан</a>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script>
    $(function () {
	    $('.instagram-slider').hide();
        let token = '735993528.1677ed0.de6fb4ad5c9c43988288c73271c872d3';
        async function getInstagramPosts() {
            let request = await $.get({
                url: 'https://api.instagram.com/v1/users/self/media/recent',
                data: {access_token: token}
            });
            let count = 0;
            let promises = request.data.map(async function (post) {
                let info = await $.get({
                    url: `https://api.instagram.com/oembed/?url=${post.link}`
                });
                let comments = await $.get({
                    url: `https://api.instagram.com/v1/media/${info.media_id}/comments?access_token=${token}`
                });
                count++;
                $('.instagram-slider').append(`
                    <div class="post">
                       <span class="autor"><img src=${post.user.profile_picture} alt="">${post.user.username}</span>
                    <img src=${post.images.standard_resolution.url} alt="">
                        <div class="comments"></div>
                    </div>`);
                comments.data.map(function (commit) {
                    $('.instagram-slider .post .comments').last().append(`<div class="commit">
                        <p><span class="autor"><img src=${commit.from.profile_picture} alt="">${commit.from.username}</span>${commit.text}</p>
                    </div>`);
                });
            });

            Promise.all(promises).then(function() {
                $('.instagram-slider').slick({
                    arrows: true,
                    autoPlay: true,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 1020,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 760,
                            settings: {
                                slidesToShow: 1
                            }
                        }
                    ]
                });
	            $('.instagram-slider').show();
            });
        }

        getInstagramPosts();

        let deadline = '2018-01-08';
        try {
            function getTimeRemaining(endtime){
                let t = Date.parse(endtime) - Date.parse(new Date());
                let seconds = Math.floor( (t/1000) % 60 );
                let minutes = Math.floor( (t/1000/60) % 60 );
                let hours = Math.floor( (t/(1000*60*60)) % 24 );
                let days = Math.floor( t/(1000*60*60*24) );
                return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                };
            }

            function initializeClock(id,endtime){
                let clock = document.getElementById(id);
                function updateClock(){
                    let t = getTimeRemaining(endtime);
                    let day = 'дней';
                    let dayEnd = parseInt(String(t.days).slice(-1));
                    if(dayEnd === 1) day = 'день';
                    if(dayEnd > 1 && dayEnd < 5 && (t.days > 20 || t.days < 10) ) day = 'дня';
                    clock.innerHTML = `${t.days} <span class="day">${day}</span> ${t.hours}:${t.minutes}:${('0' + t.seconds).slice(-2)}`;
                    if(t.total<=0){
                        clearInterval(timeinterval);
                    }
                }
                updateClock();
                let timeinterval = setInterval(updateClock,1000);
            }
            initializeClock('counter',deadline);
        } catch(e){
            document.getElementById('counter').innerHTML = 'Курс начался';
        }

	    $('.main-menu ul li a').attr('href','#');

    });
</script>
