<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="vender/swiper/js/swiper.min.js"></script>
<script src="vender/selectric/jquery.selectric.min.js"></script>
<script src="vender/ionrangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
<script src="vender/tabslet/jquery.tabslet.min.js"></script>
<script src="vender/slick/slick.min.js"></script>
<script src="js/core.js"></script>