@font-face {
	font-family: 'museo_sans_cyrl100_italic';
	src: url('museosanscyrl_100_italic-webfont.eot');
	src: url('museosanscyrl_100_italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_100_italic-webfont.woff2') format('woff2'),
	url('museosanscyrl_100_italic-webfont.woff') format('woff'),
	url('museosanscyrl_100_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl100';
	src: url('museosanscyrl_100-webfont.eot');
	src: url('museosanscyrl_100-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_100-webfont.woff2') format('woff2'),
	url('museosanscyrl_100-webfont.woff') format('woff'),
	url('museosanscyrl_100-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl300_italic';
	src: url('museosanscyrl_300_italic-webfont.eot');
	src: url('museosanscyrl_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_300_italic-webfont.woff2') format('woff2'),
	url('museosanscyrl_300_italic-webfont.woff') format('woff'),
	url('museosanscyrl_300_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl300';
	src: url('museosanscyrl_300-webfont.eot');
	src: url('museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_300-webfont.woff2') format('woff2'),
	url('museosanscyrl_300-webfont.woff') format('woff'),
	url('museosanscyrl_300-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl500_italic';
	src: url('museosanscyrl_500_italic-webfont.eot');
	src: url('museosanscyrl_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_500_italic-webfont.woff2') format('woff2'),
	url('museosanscyrl_500_italic-webfont.woff') format('woff'),
	url('museosanscyrl_500_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl500';
	src: url('museosanscyrl_500-webfont.eot');
	src: url('museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_500-webfont.woff2') format('woff2'),
	url('museosanscyrl_500-webfont.woff') format('woff'),
	url('museosanscyrl_500-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl700_italic';
	src: url('museosanscyrl_700_italic-webfont.eot');
	src: url('museosanscyrl_700_italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_700_italic-webfont.woff2') format('woff2'),
	url('museosanscyrl_700_italic-webfont.woff') format('woff'),
	url('museosanscyrl_700_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'museo_sans_cyrl700';
	src: url('museosanscyrl_700-webfont.eot');
	src: url('museosanscyrl_700-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_700-webfont.woff2') format('woff2'),
	url('museosanscyrl_700-webfont.woff') format('woff'),
	url('museosanscyrl_700-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl900_italic';
	src: url('museosanscyrl_900_italic-webfont.eot');
	src: url('museosanscyrl_900_italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_900_italic-webfont.woff2') format('woff2'),
	url('museosanscyrl_900_italic-webfont.woff') format('woff'),
	url('museosanscyrl_900_italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo_sans_cyrl900';
	src: url('museosanscyrl_900-webfont.eot');
	src: url('museosanscyrl_900-webfont.eot?#iefix') format('embedded-opentype'),
	url('museosanscyrl_900-webfont.woff2') format('woff2'),
	url('museosanscyrl_900-webfont.woff') format('woff'),
	url('museosanscyrl_900-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('Georgia-Italic.eot');
	src: url('Georgia-Italic.eot?#iefix') format('embedded-opentype'),
	url('Georgia-Italic.woff2') format('woff2'),
	url('Georgia-Italic.woff') format('woff'),
	url('Georgia-Italic.ttf') format('truetype'),
	url('Georgia-Italic.svg#Georgia-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'pt_sansregular';
	src: url('2221-webfont.eot');
	src: url('2221-webfont.eot?#iefix') format('embedded-opentype'),
	url('2221-webfont.woff2') format('woff2'),
	url('2221-webfont.woff') format('woff'),
	url('2221-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}