@import reset
@import mixins
@import veriable

html, body
	font-family: 'museo_sans_cyrl300'
	font-size: 14px
	line-height: 1.3
	min-width: 480px
	min-height: 100vh
	color: #000
	background: #FAFAFA
	position: relative

.main_land
	height: 100%

.container
	max-width: 1100px
	position: relative
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0 auto
	+clearfix
	@media (max-width: 1100px)
		padding: 0 15px

header, .main-header
	display: flex
	max-width: 1440px
	margin: 0 auto
	flex-wrap: wrap
	justify-content: space-between
	width: 100%
	align-items: center
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 30px 32px 20px
	position: relative
	@media (max-width: 1100px)
		padding: 20px 15px
	a.logo
		display: block
	.btn-menu
		border: none
		background: transparent
		position: absolute
		top: 50%
		left: 50%
		+transform
	.user
		display: flex
		flex-wrap: wrap
		align-items: center
		position: relative
		cursor: pointer
		.lk
			width: 41px
			height: 41px
			overflow: hidden
			border-radius: 50%
			img
				display: block
				width: 41px
				height: 41px
		.open-dropdown
			width: 35px
			height: 35px
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			box-sizing: border-box
			padding: 9px
		.dropdown-menu
			display: none
			position: absolute
			top: calc(100% + 14px)
			z-index: 20
			right: 0
			width: 190px
			background: #fff
			border: 1px solid #cccccc
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			box-sizing: border-box
			border-radius: 5px
			padding: 16px 17px 9px
			ul
				li
					margin-bottom: 10px
					a
						color: #000
						display: block
						&:hover
							color: #540aa3
						@media(max-width: 1023px)
							font-size: 18px
			ul.up
				margin-bottom: 19px
				padding-bottom: 8px
				border-bottom: 1px solid #cccccc
	.main-menu
		position: fixed
		display: none
		top: 0
		left: 0
		width: 100%
		background: #6d50ba
		text-align: center
		color: #fff
		padding-top: 51px
		z-index: 999
		min-height: 100vh
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		button.close-menu
			border: none
			background-color: transparent
			display: inline-block
			margin-bottom: 53px
		ul
			display: flex
			flex-direction: column
			li
				margin-bottom: 30px
				a
					color: #fff
					font-family: 'museo_sans_cyrl900'
					font-size: 26px
					text-transform: uppercase
					&:hover
						color: #540aa3
		@media(max-width: 767px)
			padding-top: 30px
			button.close-menu
				margin-bottom: 39px
			ul
				li
					margin-bottom: 27px
					a
						font-size: 16px

section
	flex-grow: 1
	background: #FAFAFA
	padding-bottom: 98px

.section_header
	width: 100%
	height: 350px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	position: relative
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	h3
		font-family: 'museo_sans_cyrl900'
		color: #fff
		font-size: 42px
		position: relative
		line-height: 1
		z-index: 10
		margin-bottom: 18px
		letter-spacing: 1.3px
		a
			display: inline-block
	span
		display: block
		font-size: 18px
		color: #fff
		position: relative
		z-index: 10
		b
			font-family: 'museo_sans_cyrl700'
			font-weight: normal
	&.candidat
		background: url('../upload/candidat.jpg') no-repeat center
		-webkit-background-size: cover
		background-size: cover
		&::before
			background: rgba(94, 71, 139, 0.7)
	&.user
		background: url('../upload/lk_user.jpg') no-repeat center
		-webkit-background-size: cover
		background-size: cover
		&::before
			background: rgba(255, 188, 66, 0.7)
	&.curator
		background: url('../upload/candidat.jpg') no-repeat center
		-webkit-background-size: cover
		background-size: cover
		&::before
			background: rgba(229, 58, 64, 0.7)
	&.settings
		background: url('../upload/candidat.jpg') no-repeat center
		-webkit-background-size: cover
		background-size: cover
		&::before
			background: rgba(104, 104, 104, 0.7)

.sidebar, .swiper-slide.menu
	width: 187px
	margin-top: -94px
	.user_photo
		width: 100%
		height: 187px
		overflow: hidden
		margin-bottom: 21px
		display: block
		background: #e2e2e2 url("../img/add_photo.svg") no-repeat 60% 60%
		-webkit-background-size: 78px 90px
		background-size: 78px 90px
		&.settings
			background: #e2e2e2 url("../img/undefined.svg") no-repeat center
			-webkit-background-size: 96px 114px
			background-size: 96px 114px
		img
			display: block
			width: 100%
			height: auto
	label
		display: block
		width: 100%
		padding: 0
		height: 35px
		line-height: 35px
		border: 1px solid #1da1b7
		border-radius: 5px
		text-align: center
		color: #1da1b7
		font-size: 13px
		margin: -3px 0 17px
		&:hover
			background: #1da1b7
			color: #fff
	p
		font-size: 13px
		line-height: 22px
	.status
		font-size: 16px
		font-family: 'museo_sans_cyrl700'
		line-height: 1
		height: 16px
		margin-bottom: 21px
	.course
		padding: 13px 13px 12px 15px
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		background: #fff
		border-radius: 5px
		margin-bottom: 24px
		.title
			text-align: center
			font-size: 13px
			font-family: 'museo_sans_cyrl700'
			display: block
		.irs
			margin-top: -18px
		.progress-range
			text-align: center
			font-size: 12px
			display: block
			margin-top: -3px
	.sidebar-menu
		padding: 20px 12px 22px 22px
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		background: #fff
		border-radius: 5px
		ul
			li
				margin-bottom: 10px
				a
					color: #000
					font-size: 16px
					&:hover
						color: #540aa3
				&.active a
					position: relative
					padding-right: 14px
					&::before
						content: ""
						width: 9px
						height: 9px
						position: absolute
						top: 50%
						+transformY
						right: 0
						background: $red
						border-radius: 50%
		
		ul.up
			border-bottom: 1px solid #cccccc
			padding-bottom: 10px
			margin-bottom: 21px
	@media (max-width: 767px)
		display: none

@media(max-width: 767px)
	.settings
		.container.flex-container
			flex-direction: column
			.sidebar
				display: block
			.contentIn
				padding-top: 30px

.flex-container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.contentIn
	width: calc(100% - 280px)
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding-top: 61px
	@media (max-width: 767px)
		width: 100%
	h2
		font-family: 'museo_sans_cyrl900'
		font-size: 32px
		margin-bottom: 48px
	.content_text
		background: #fff
		border-radius: 5px
		padding: 28px 38px 29px
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
		p
			font-size: 18px
			line-height: 28px
			a
				color: $pBlue
				text-decoration: underline
				text-decoration-style: dashed
				text-underline-position: under
		p:not(.one)
			margin-bottom: 27px
			&:last-child
				margin-bottom: 0
		.items
			padding-top: 46px
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			margin-bottom: 32px
			.item
				width: 152px
				margin-bottom: 20px
				img
					display: block
					margin-bottom: 38px
				h3
					font-size: 22px
					line-height: 28px
					letter-spacing: 0.22px
					font-family: 'museo_sans_cyrl900'
					margin-bottom: 13px
				p
					font-size: 16px
					font-family: 'museo_sans_cyrl300'
		&.form_calender
			padding: 36px 53px 31px 38px
			.row
				display: flex
				flex-wrap: wrap
				margin-bottom: 29px
				.col
					width: 230px
					margin-right: 31px
					&.month
						width: 210px
						margin-right: 0
					@media(max-width: 1023px)
						margin-bottom: 10px
						&.month
							width: 230px
			.dates
				border: 1px solid #cccccc
				border-radius: 5px
				align-items: center
				padding: 19px 28px 20px 23px
				width: 100%
				-webkit-box-sizing: border-box
				-moz-box-sizing: border-box
				box-sizing: border-box
				@media(max-width: 1023px)
					flex-direction: column
					align-items: flex-start
					.left
						margin-bottom: 10px
			@media(max-width: 1100px)
				padding: 30px
		&.questions
			padding: 39px 51px 42px 38px
			.question
				margin-bottom: 34px
				padding-bottom: 30px
				border-bottom: 1px solid #cccccc
				h3
					font-size: 22px
					font-family: 'museo_sans_cyrl700'
					margin-bottom: 13px
				p
					font-size: 16px
					line-height: 27px
					padding-left: 2px
				&:last-child
					margin-bottom: 0
					padding-bottom: 0
					border: none
		&.promo
			padding-bottom: 47px
			p
				margin-bottom: 23px
			.row
				max-width: 529px
				button
					height: 50px
					width: 171px
				.form-wrap
					display: block
					flex-grow: 1
					margin-right: 14px
					input
						width: 100%
				@media(max-width: 1023px)
					flex-direction: column
					input
						margin: 0 0 20px
		&.open-dropdown
			padding: 0
			margin-bottom: 33px
			a
				font-size: 22px
				font-family: 'museo_sans_cyrl700'
				display: block
				color: #000
				position: relative
				padding: 20px 27px 22px 43px
				&::before
					content: ""
					position: absolute
					top: 50%
					right: 27px
					width: 21px
					height: 12px
					background: url("../img/polygon-blue.svg") no-repeat center
					+transformY
			.dropdown
				display: none
				padding: 12px 43px 47px
				iframe
					width: 100%
					max-width: 586px
					height: 327px
			a.open::before
				background: url("../img/polygon-blue-up.svg") no-repeat center
		
		&.candidat_calendar
			padding: 36px 56px 45px 39px
			h3
				font-size: 24px
				font-family: 'museo_sans_cyrl700'
				margin-bottom: 17px
				letter-spacing: -0.3px
			.row
				display: flex
				flex-direction: row
				flex-wrap: wrap
				align-items: flex-end
				justify-content: space-between
				max-width: 660px
				padding-bottom: 40px
				border-bottom: 1px solid #afafaf
				margin-bottom: 25px
				.col1
					width: 230px
				.col2
					width: 150px
				button
					width: 218px
					height: 50px
				@media (max-width: 1023px)
					flex-direction: column
					align-items: flex-start
					.col
						margin-bottom: 15px
			.table-group
				.title
					font-size: 24px
					font-family: 'museo_sans_cyrl700'
					letter-spacing: -0.3px
					margin-bottom: 20px
				ul.table
					padding-left: 2px
					> li
						border-bottom: 1px solid #afafaf
						padding-bottom: 15px
						margin-bottom: 16px
						ul
							display: flex
							flex-direction: row
							flex-wrap: wrap
							li
								font-family: 'museo_sans_cyrl700'
								font-size: 14px
								color: #000
								letter-spacing: 0.1px
								span.forMobile
									color: #9e9e9e
									font-size: 13px
									font-family: 'museo_sans_cyrl500'
									letter-spacing: 0.3px
									display: none
							li.name
								width: 259px
							li.email
								width: 219px
							li.phone
								width: 150px
							li.quantity
								flex-grow: 1
							@media(max-width: 1100px)
								li
									width: 50% !important
									margin-bottom: 10px
									span.forMobile
										display: block
					li.head
						margin-bottom: 23px
						border: none
						padding: 0
						ul li
							color: #9e9e9e
							font-size: 13px
							font-family: 'museo_sans_cyrl500'
							letter-spacing: 0.3px
						@media(max-width: 1100px)
							display: none
			.table-group:not(:last-child)
				margin-bottom: 35px
		&.settings
			padding: 37px 64px 50px 39px
			.block
				padding-bottom: 23px
				border-bottom: 1px solid #afafaf
				margin-bottom: 36px
				&:last-of-type
					border-bottom: none
					margin-bottom: 2px
				h3
					font-size: 24px
					font-family: 'museo_sans_cyrl700'
					letter-spacing: -0.3px
					margin-bottom: 19px
				h4
					font-size: 24px
					font-family: 'museo_sans_cyrl700'
					letter-spacing: -0.3px
					margin-bottom: 28px
				.row
					display: flex
					flex-direction: row
					flex-wrap: wrap
					.col
						margin-right: 29px
						width: 340px
						margin-bottom: 15px
						@media(max-width: 1023px)
							margin-right: 0
						input
							width: 100%
						&:last-child
							margin-right: 0
						&.col1
							width: 90px
							margin-right: 29px
						&.col2
							width: 110px
							margin-right: 29px
						&.col3
							width: 82px
	
	&.user
		.content_text
			padding: 28px 38px
			&.anketa
				padding: 28px 38px 54px
				p
					margin-bottom: 29px
				.row
					margin-bottom: 14px
					max-width: 718px
					.col
						width: 339px
						&:first-child
							margin-bottom: 14px
						label
							margin-bottom: 7px
						input
							width: 100%
					.col:not(:last-child)
						margin-right: 10px
				button
					margin-top: 44px
			&.moy-kurator
				padding: 40px 38px 44px
				p
					font-size: 16px
					line-height: 26px
					padding-right: 20px
				.top
					display: flex
					flex-direction: row
					flex-wrap: wrap
					margin-bottom: 31px
					.image
						width: 210px
						height: 210px
						overflow: hidden
						img
							display: block
							width: 100%
							height: auto
					.text
						flex-grow: 1
						-webkit-box-sizing: border-box
						-moz-box-sizing: border-box
						box-sizing: border-box
						padding: 62px 26px 0
						.name
							font-size: 24px
							font-family: 'museo_sans_cyrl700'
							margin-bottom: 13px
						b
							font-size: 16px
							font-family: 'museo_sans_cyrl700'
						.age
							margin-bottom: 5px
	.nearest_set
		align-items: flex-start
		padding-bottom: 15px
		padding-top: 32px
		margin-bottom: 30px
		.left
			.title
				font-size: 16px
				font-family: 'museo_sans_cyrl700'
				margin-bottom: 4px
				span
					font-size: 16px
					font-family: 'museo_sans_cyrl300'
			.timer
				font-size: 37px
				font-family: 'museo_sans_cyrl300'
		button
			width: 198px
			height: 60px
			display: block
			border: none
			border-radius: 5px
			background: $blue
			font-size: 18px
			color: #fff
			font-family: 'museo_sans_cyrl900'
			text-transform: uppercase
		@media(max-width: 1023px)
			flex-direction: column
			align-items: flex-start
			.left
				margin-bottom: 10px

footer
	padding: 30px 0 29px
	.left
		display: flex
		flex-direction: column
		flex-wrap: wrap
		a.logo
			display: block
			margin-bottom: 14px
		p
			color: #c1c1c1
			line-height: 1
			font-size: 14px
	.right
		padding-top: 5px
		padding-right: 2px
		ul
			display: flex
			flex-wrap: wrap
			align-items: center
			li
				margin-left: 32px
				&:first-child
					margin-left: 0
				a
					display: block
					color: #c1c1c1
					font-size: 26px
					&:hover
						color: #cd486b
			li.vk
				margin-left: 34px
				a:hover
					color: #4c75a3
			li.google
				margin-left: 36px
				a
					font-size: 21px
					&:hover
						color: #dd4b39
			li.fb a
				font-size: 29px
				&:hover
					color: #3b5999

.swiper-container
	width: 100%
	height: 100%

.swiper-slide.menu
	display: none
	@media (max-width: 767px)
		margin: 0
		border-radius: 5px
		display: block
		width: 260px
		padding: 20px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		.user_photo
			height: 220px
			margin-bottom: 20px
			border-radius: 5px
		.status
			font-size: 20px
		.course .title
			font-size: 16px
		.sidebar-menu ul li a
			font-size: 18px

.menu-button
	display: none
	position: absolute
	top: 0
	left: 0
	padding: 15px
	cursor: pointer
	-webkit-transition: .3s
	transition: .3s
	background-color: #2C8DFB
	border-radius: 5px
	@media(max-width: 767px)
		display: block
	
	.bar:nth-of-type(1)
		margin-top: 0
	
	.bar:nth-of-type(3)
		margin-bottom: 0
	
	.bar
		position: relative
		display: block
		width: 50px
		height: 5px
		margin: 10px auto
		background-color: #fff
		border-radius: 10px
		-webkit-transition: .3s
		transition: .3s

.menu-button:hover .bar:nth-of-type(1)
	-webkit-transform: translateY(1.5px) rotate(-4.5deg)
	-ms-transform: translateY(1.5px) rotate(-4.5deg)
	transform: translateY(1.5px) rotate(-4.5deg)

.menu-button:hover .bar:nth-of-type(2)
	opacity: .9

.menu-button:hover .bar:nth-of-type(3)
	-webkit-transform: translateY(-1.5px) rotate(4.5deg)
	-ms-transform: translateY(-1.5px) rotate(4.5deg)
	transform: translateY(-1.5px) rotate(4.5deg)

.cross .bar:nth-of-type(1)
	-webkit-transform: translateY(15px) rotate(-45deg)
	-ms-transform: translateY(15px) rotate(-45deg)
	transform: translateY(15px) rotate(-45deg)

.cross .bar:nth-of-type(2)
	opacity: 0

.cross .bar:nth-of-type(3)
	-webkit-transform: translateY(-15px) rotate(45deg)
	-ms-transform: translateY(-15px) rotate(45deg)
	transform: translateY(-15px) rotate(45deg)

.cross:hover .bar:nth-of-type(1)
	-webkit-transform: translateY(13.5px) rotate(-40.5deg)
	-ms-transform: translateY(13.5px) rotate(-40.5deg)
	transform: translateY(13.5px) rotate(-40.5deg)

.cross:hover .bar:nth-of-type(2)
	opacity: .1

.cross:hover .bar:nth-of-type(3)
	-webkit-transform: translateY(-13.5px) rotate(40.5deg)
	-ms-transform: translateY(-13.5px) rotate(40.5deg)
	transform: translateY(-13.5px) rotate(40.5deg)

.selectric
	border: 1px solid #cccccc
	border-radius: 5px
	background-color: #fff
	height: 49px
	width: 100%
	.label
		font-size: 15px
		font-family: 'museo_sans_cyrl500'
		margin: 0
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 0 30px 0 10px
		height: 49px
		line-height: 49px
	.button
		background: transparent url("../img/polygon.svg") no-repeat 50% 50%
		-webkit-background-size: 13px 8px
		background-size: 13px 8px
		height: 49px
		width: 30px
		&:after
			content: none

.selectric-items
	border: 1px solid #cccccc
	border-top: none
	background-color: #fff
	border-bottom-right-radius: 5px
	border-bottom-left-radius: 5px
	padding-top: 18px
	padding-bottom: 11px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	li
		font-size: 14px
		width: 99%
		font-family: 'museo_sans_cyrl500'
		padding: 0 18px 10px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	li:hover, li.highlighted
		background: #fff
		color: #540aa3

.selectric-open
	.selectric
		border-bottom-right-radius: 0
		border-bottom-left-radius: 0
		.button
			background: transparent url("../img/polygon-up.svg") no-repeat center
			-webkit-background-size: 13px 8px
			background-size: 13px 8px

label
	cursor: pointer
	font-size: 14px
	font-family: 'museo_sans_cyrl500'
	padding-left: 12px
	margin-bottom: 5px
	display: block
	letter-spacing: 0.3px

input[type="text"]
	border-radius: 5px
	border: 1px solid #cccccc
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	height: 52px
	line-height: 52px
	padding: 0 12px
	font-size: 16px
	font-family: 'museo_sans_cyrl300'
	&.error
		border-color: #e00000
	+placeholder
		font-size: 16px
		font-family: 'museo_sans_cyrl300'
		opacity: 1
		color: #000

button.btn
	width: 198px
	height: 60px
	display: block
	border: none
	border-radius: 5px
	background: $blue
	font-size: 18px
	color: #fff
	font-family: 'museo_sans_cyrl900'
	text-transform: uppercase
	&:hover
		-webkit-box-shadow: 0px 1px 20px 0px rgba(207, 147, 255, 0.7)
		-moz-box-shadow: 0px 1px 20px 0px rgba(207, 147, 255, 0.7)
		box-shadow: 0px 1px 20px 0px rgba(207, 147, 255, 0.7)
	&:active
		border: 1px solid $blue
		color: $blue
		background: #fff
		box-shadow: none

span.error
	color: #e00000
	font-size: 14px
	font-family: 'museo_sans_cyrl500'
	display: block
	width: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 16px 6px

.irs
	width: 177px
	margin: 0 -8px

.irs-slider
	background-position: 0 20px

.irs-bar, .irs-bar-edge, .irs-line
	height: 5px

.irs-line-mid
	background: #e1e1e1
	width: 100%
	border-radius: 20px
	height: 5px

.irs-line-left, .irs-line-right
	display: none

.irs-bar-edge
	background: #e1e1e1
	display: none

.irs-bar
	background: #ffbc42
	border-radius: 20px

.irs-disabled
	opacity: 1

.irs-line
	border-radius: 20px

.tabs
	ul.horizontal
		display: flex
		flex-direction: row
		flex-wrap: wrap
		border-bottom: 1px solid #b0b0b0
		margin: -4px 0px 40px 2px
		li:not(:last-child)
			margin-right: 45px
		li a
			font-size: 20px
			color: #000
			padding-bottom: 12px
			position: relative
			display: block
			letter-spacing: 0.3px
		li.active a::before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background: #7a4192
	.tab
		.content_text
			padding: 16px 38px 39px
			h3
				font-size: 16px
				font-family: 'museo_sans_cyrl700'
				margin-bottom: 28px
				color: #d80000
				letter-spacing: 0.3px
			p
				font-size: 16px
				margin-bottom: 24px
				line-height: 27px
				b
					font-family: 'museo_sans_cyrl700'

#modalLogIn
	display: none
	position: fixed
	top: 50%
	left: 50%
	width: 440px
	background: #fff
	z-index: 3000
	+transform
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 36px 40px 32px
	border-radius: 5px
	span.close
		position: absolute
		top: 15px
		right: 13px
		width: 15px
		height: 15px
		cursor: pointer
		img
			display: block
			width: 100%
			height: 100%
	h3
		font-size: 32px
		font-family: 'museo_sans_cyrl900'
		text-align: center
		margin-bottom: 32px
	a
		display: block
		width: 100%
		margin-bottom: 20px
		height: 50px
		line-height: 50px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		color: #fff
		font-size: 14px
		border-radius: 50px
		padding-left: 28%
		i
			display: inline-block
			line-height: 50px
			color: #fff
			width: 30px
			font-size: 20px
	a.fb
		background: #3b5999
	a.vk
		background: #4c75a3
	a.google
		background: #dd4b39
	a.instagram
		background: #cd486b
	p
		text-align: center
		margin-top: 33px
		line-height: 22px

#wrapper
	width: 100%
	height: 100%
	position: fixed
	z-index: 2000
	top: 0
	left: 0
	background: rgba(0, 0, 0, 0.7)

.swiper-container-vertical > .swiper-pagination-bullets
	right: 35px
	@media (max-width: 1100px)
		right: 20px
	@media(max-width: 767px)
		display: none

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet
	width: 4px
	height: 4px
	background: #fff
	opacity: 1
	margin: 18px 0

.swiper-pagination-bullet.swiper-pagination-bullet-active
	position: relative
	&::before
		content: ""
		width: 16px
		height: 16px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		border: 1px solid #fff
		position: absolute
		top: 50%
		left: 50%
		+transform
		border-radius: 50%

.main-page-swiper
	.slide_1
		background: url("../img/pic-1.jpg")
	.slide_2
		background: url("../img/pic-2.jpg")
	.slide_3
		background: url("../img/pic-3.jpg")
	.slide_4
		background: url("../img/pic-4.jpg")
	.slide_5
		background: url("../img/pic-5.jpg")
	.slide_6
		background: url("../img/pic-6.jpg")
	.slide_7
		background: url("../img/pic-7.jpg")
	.slide_8
		background: url("../img/pic-4.jpg")
	.slide_9
		background: url("../img/pic-9.jpg")
	.slide_10
		background: url("../img/pic-8.jpg")
	
	.swiper-slide
		-webkit-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		display: flex
		flex-direction: column
		flex-wrap: nowrap
		justify-content: center
		align-items: center
		position: relative
		padding: 80px 0
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		@media (max-width: 1100px)
			padding: 80px
			&.slide_7
				padding: 80px 30px
			
		a.go_down
			position: absolute
			left: 50%
			+transformX
			bottom: 0
			padding-bottom: 66px
			display: block
			color: #fff
			font-size: 13px
			font-family: 'Georgia'
			font-style: italic
			font-weight: normal
			&::before
				content: ""
				height: 58px
				width: 2px
				border-radius: 10px
				background: #fff
				position: absolute
				bottom: 0
				left: 50%
				+transformX
		img.main_img
			display: block
			width: 36%
			height: auto
			@media(max-width: 1100px)
				width: 50%
			@media(max-width: 1023px)
				width: 62%
			@media(max-width: 767px)
				width: 440px
		p, h3, h2
			color: #fff
			font-size: 36px
			font-family: 'museo_sans_cyrl900'
			text-align: center
			max-width: 940px
			text-transform: uppercase
			@media (max-width: 1100px)
				font-size: 30px
			@media (max-width: 767px)
				font-size: 22px
			a
				color: #ffaa39
				text-decoration: underline
				text-decoration-style: dashed
				text-underline-position: under
		h3, h2
			line-height: 1
			margin-bottom: 100px
			width: 100%
			text-align: center
			max-width: 100%
		h2
			font-size: 40px
			margin-bottom: 50px
			@media (max-width: 1100px)
				font-size: 30px
			@media (max-width: 767px)
				font-size: 22px
		.items
			width: 100%
			max-width: 1100px
			margin: 0 auto
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			box-sizing: border-box
			.slick-arrow
				top: 43%
			.item
				width: 260px
				.image
					width: 100%
					height: 260px
					border-radius: 50%
					overflow: hidden
					display: flex
					flex-direction: row
					flex-wrap: wrap
					align-items: center
					margin-bottom: 35px
					justify-content: center
					background: #ff9a57;
					background: -moz-linear-gradient(top, #ff9a57 0%, #ff3188 100%)
					background: -webkit-linear-gradient(top, #ff9a57 0%, #ff3188 100%)
					background: linear-gradient(to bottom, #ff9a57 0%, #ff3188 100%)
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a57', endColorstr='#ff3188', GradientType=0)
					img
						display: block
						width: 240px
						height: 240px
						border-radius: 50%
				@media(max-width: 1100px)
					width: 220px
					.image
						height: 220px
						img
							width: 200px
							height: 200px
				span
					color: #fff
					display: block
					text-align: center
					text-transform: uppercase
					font-size: 24px
					font-family: 'museo_sans_cyrl700'
					line-height: 1
			@media (max-width: 870px)
				width: 260px
				.item
					width: 100%
					.image
						width: 100%
						height: 260px
						img
							width: 240px
							height: 240px
					
		ul.icons
			width: 100%
			max-width: 1100px
			margin: 70px auto 0
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			.slick-arrow
				top: 35%
			@media (max-width: 1100px)
				.slick-next
					right: -20px
				.slick-prev
					left: -20px
			li
				width: 200px
				.icon
					width: 147px
					height: 147px
					border-radius: 50%
					overflow: hidden
					background: #fff
					display: flex
					flex-direction: row
					flex-wrap: wrap
					justify-content: center
					align-items: center
					margin: 0 auto 30px
					img
						width: 90px
						height: 90px
						display: block
				span
					display: block
					color: #fff
					text-transform: uppercase
					font-size: 16px
					line-height: 24px
					letter-spacing: 0.32px
					text-align: center
		.whats
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			width: 100%
			max-width: 1100px
			@media (max-width: 1100px)
				justify-content: space-around
			.what
				width: 346px
				height: 285px
				overflow: hidden
				background: #6d50ce
				border-radius: 10px
				-webkit-box-sizing: border-box
				-moz-box-sizing: border-box
				box-sizing: border-box
				padding: 14px 37px 14px
				@media (max-width: 1100px)
					width: 306px
				h4
					font-size: 34px
					line-height: 95px
					text-transform: uppercase
					color: #FFFFFF
					font-family: 'museo_sans_cyrl900'
					margin-bottom: 74px
				p
					font-family: 'museo_sans_cyrl500'
					font-size: 18px
					line-height: 26px
					text-transform: uppercase
					color: #fff
					text-align: left
					a
						color: #fff
			@media(max-width: 1000px)
				width: 350px
				.what
					width: 100%
span.rub
	font-family: 'pt_sansregular'

.slider-comments
	width: 100%
	max-width: 780px
	display: flex
	margin: 0 auto
	.slick-dots
		position: absolute
		left: 0
		bottom: -38px
		width: 100%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		li
			margin-right: 10px
			button
				width: 9px
				height: 9px
				-webkit-box-sizing: content-box
				-moz-box-sizing: content-box
				box-sizing: content-box
				border-radius: 50%
				font-size: 0
				background: none
				border: 1px solid #fff
		li.slick-active button
			border: none
			background: #fff
	iframe
		display: block
		width: 100%
		height: 385px

button.slick-arrow
	display: block
	width: 35px
	height: 35px
	position: absolute
	top: 50%
	+transformY
	font-size: 0
	background: none
	border: none
	z-index: 20
	&.slick-prev
		left: -60px
		background: url("../img/prev.svg") no-repeat center
		-webkit-background-size: 35px 10px
		background-size: 35px 10px
	&.slick-next
		right: -60px
		background: url("../img/next.svg") no-repeat center
		-webkit-background-size: 35px 10px
		background-size: 35px 10px

.instagram-slider
	width: 100%
	max-width: 910px
	margin: 0 auto
	.post
		width: 300px
		margin: 0 5px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		background: #fff
		height: 70vh
		overflow: hidden
		@media (max-width: 1023px)
			width: 400px
		span.autor
			font-weight: bold
			font-size: 14px
			display: block
			padding: 10px
			line-height: 30px
			img
				display: inline-block
				margin-right: 5px
				width: 30px
				height: 30px
				border-radius: 50%
				vertical-align: top
		img
			display: block
			width: 100%
			height: auto
		.comments
			padding: 0 10px
			.commit
				padding-top: 10px
				&:last-child
					padding-bottom: 20px
				span.autor
					font-weight: bold
					font-size: 14px
					display: inline-block
					margin-right: 5px
					line-height: 20px
					padding: 0
					img
						display: inline-block
						margin-right: 5px
						width: 20px
						height: 20px
						border-radius: 50%
						vertical-align: top
				p
					font-size: 14px
					line-height: 22px
					width: 100%
					max-width: 100%
					color: #000
					text-align: left
					text-transform: capitalize
					font-family: 'museo_sans_cyrl300'

.main-header
	width: 100%
	max-width: 100%
	position: fixed
	top: 0
	left: 50%
	+transformX
	z-index: 200
	padding: 0
	header
		width: 100%
		margin: 0 auto
		padding: 30px 31px 0 49px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		@media (max-width: 767px)
			padding: 30px 20px
	img
		display: block
	button.btn-menu
		background: none
		border: none
		position: absolute
		top: 45px
		left: 50%
		+transformX
	a.log_in
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		color: #fff
		font-family: 'museo_sans_cyrl900'
		font-size: 14px
		text-transform: uppercase
		letter-spacing: 1px
		padding-top: 6px
		img
			display: block
			margin-right: 10px
.main-page-swiper .swiper-slide.slide_10
	justify-content: space-between
	padding: 90px 0 30px
	.circle_block
		width: 70vh
		height: 70vh
		max-width: 585px
		max-height: 585px
		border-radius: 50%
		background: #6d50ce
		color: #fff
		display: flex
		flex-direction: column
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 11vh 0 15vh
		p
			font-size: 4.5vh
			font-family: 'museo_sans_cyrl900'
		.counter
			font-size: 10vh
			font-family: 'museo_sans_cyrl300'
			margin-bottom: 20px
			span.day
				font-size: 4vh
		button
			width: 268px
			height: 50px
			border-radius: 50px
			background: #fff
			color: #5e478b
			border: none
			font-size: 2.5vh
			text-transform: uppercase
			&:hover,&:active
				background: #5e478b
				color: #fff
			
	.social
		width: 100%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: center
		li
			margin: 0 20px
			a
				color: #fff
				font-size: 30px
				font-weight: bold
.yorc-logo
	display: block
	width: 113px
	height: 46px
	font-size: 12px
	font-family: 'Open Sans', sans-serif
	font-weight: 300
	color: #fff
	background: url('../img/logo-yorc-white.svg') no-repeat 42px 18px
	background-size: 54px 28px
	position: absolute
	bottom: 25px
	right: 20px
	@media(max-width: 560px)
		right: 0
		bottom: 15px
@media(max-width: 1100px)
	.main-page-swiper .swiper-slide.slide_9
		padding: 40px 100px
@media (max-width: 980px)
	.main-page-swiper .swiper-slide.slide_5 ul.icons
		display: none
	.main-page-swiper .swiper-slide.slide_8
		padding: 80px 100px
@media (max-width: 767px)
	.main-page-swiper .swiper-slide.slide_8
		padding: 0
		.slider-comments
			width: 440px
			iframe
				height: 280px
	.main-page-swiper .swiper-slide
		padding-top: 0
		padding-bottom: 0
			