* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: none; }

button {
  cursor: pointer; }

ul {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none; }

html, body {
  font-family: "museo_sans_cyrl300";
  font-size: 14px;
  line-height: 1.3;
  min-width: 480px;
  min-height: 100vh;
  color: #000;
  background: #fff; }

.container {
  max-width: 1100px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }
  .container::after {
    content: "";
    display: block;
    width: 100%;
    clear: both; }
  @media (max-width: 1100px) {
    .container {
      padding: 0 15px; } }

header {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 32px 20px;
  position: relative; }
  @media (max-width: 1100px) {
    header {
      padding: 20px 15px; } }
  header a.logo {
    display: block; }
  header .btn-menu {
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    cursor: pointer; }
    header .user .lk {
      width: 41px;
      height: 41px;
      overflow: hidden; }
      header .user .lk img {
        display: block;
        width: 41px;
        height: 41px; }
    header .user .open-dropdown {
      width: 35px;
      height: 35px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 9px; }
    header .user .dropdown-menu {
      display: none;
      position: absolute;
      top: calc(100% + 14px);
      z-index: 20;
      right: 0;
      width: 190px;
      background: #fff;
      border: 1px solid #cccccc;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 16px 17px 9px; }
      header .user .dropdown-menu ul li {
        margin-bottom: 10px; }
        header .user .dropdown-menu ul li a {
          color: #000; }
          header .user .dropdown-menu ul li a:hover {
            color: #540aa3; }
      header .user .dropdown-menu ul.up {
        margin-bottom: 19px;
        padding-bottom: 8px;
        border-bottom: 1px solid #cccccc; }
  header .main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #6d50ba;
    text-align: center;
    color: #fff;
    padding-top: 51px;
    z-index: 999;
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    header .main-menu button.close-menu {
      border: none;
      background-color: transparent;
      display: inline-block;
      margin-bottom: 53px; }
    header .main-menu ul {
      display: flex;
      flex-direction: column; }
      header .main-menu ul li {
        margin-bottom: 30px; }
        header .main-menu ul li a {
          color: #fff;
          font-family: "museo_sans_cyrl900";
          font-size: 26px;
          text-transform: uppercase; }
          header .main-menu ul li a:hover {
            color: #540aa3; }
@media(max-width: 767px) {
  header .main-menu {
    padding-top: 30px; }
    header .main-menu button.close-menu {
      margin-bottom: 39px; }
    header .main-menu ul li {
      margin-bottom: 27px; }
      header .main-menu ul li a {
        font-size: 16px; } }
section {
  flex-grow: 1;
  background: #FAFAFA;
  padding-bottom: 98px; }

.section_header {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .section_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section_header h3 {
    font-family: "museo_sans_cyrl900";
    color: #fff;
    font-size: 42px;
    position: relative;
    line-height: 1;
    z-index: 10;
    margin-bottom: 18px;
    letter-spacing: 1.3px; }
    .section_header h3 a {
      display: inline-block; }
  .section_header.candidat {
    background: url("../upload/candidat.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover; }
    .section_header.candidat::before {
      background: rgba(94, 71, 139, 0.7); }

.sidebar, .swiper-slide.menu {
  width: 187px;
  margin-top: -94px; }
  .sidebar .user_photo, .swiper-slide.menu .user_photo {
    width: 100%;
    height: 187px;
    overflow: hidden;
    margin-bottom: 57px; }
    .sidebar .user_photo img, .swiper-slide.menu .user_photo img {
      display: block;
      width: 100%;
      height: auto; }
  .sidebar .sidebar-menu, .swiper-slide.menu .sidebar-menu {
    padding: 20px 22px 22px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px; }
    .sidebar .sidebar-menu ul li, .swiper-slide.menu .sidebar-menu ul li {
      margin-bottom: 10px; }
      .sidebar .sidebar-menu ul li a, .swiper-slide.menu .sidebar-menu ul li a {
        color: #000;
        font-size: 16px; }
        .sidebar .sidebar-menu ul li a:hover, .swiper-slide.menu .sidebar-menu ul li a:hover {
          color: #540aa3; }
    .sidebar .sidebar-menu ul.up, .swiper-slide.menu .sidebar-menu ul.up {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 10px;
      margin-bottom: 21px; }
  @media (max-width: 767px) {
    .sidebar, .swiper-slide.menu {
      display: none; } }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.contentIn {
  width: calc(100% - 280px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 61px; }
  @media (max-width: 767px) {
    .contentIn {
      width: 100%; } }
  .contentIn h2 {
    font-family: "museo_sans_cyrl900";
    font-size: 32px;
    margin-bottom: 48px; }
  .contentIn .content_text {
    background: #fff;
    border-radius: 5px;
    padding: 28px 39px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
    .contentIn .content_text p {
      font-size: 18px;
      line-height: 28px; }

footer {
  padding: 30px 0px 29px; }
  footer .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    footer .left a.logo {
      display: block;
      margin-bottom: 14px; }
    footer .left p {
      color: #c1c1c1;
      line-height: 1;
      font-size: 14px; }
  footer .right {
    padding-top: 5px;
    padding-right: 2px; }
    footer .right ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      footer .right ul li {
        margin-left: 32px; }
        footer .right ul li:first-child {
          margin-left: 0; }
        footer .right ul li a {
          display: block;
          color: #c1c1c1;
          font-size: 26px; }
          footer .right ul li a:hover {
            color: #cd486b; }
      footer .right ul li.vk {
        margin-left: 34px; }
        footer .right ul li.vk a:hover {
          color: #4c75a3; }
      footer .right ul li.google {
        margin-left: 36px; }
        footer .right ul li.google a {
          font-size: 21px; }
          footer .right ul li.google a:hover {
            color: #dd4b39; }
      footer .right ul li.fb a {
        font-size: 29px; }
        footer .right ul li.fb a:hover {
          color: #3b5999; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide.menu {
  display: none; }
  @media (max-width: 767px) {
    .swiper-slide.menu {
      margin: 0;
      border-radius: 5px;
      display: block; }
      .swiper-slide.menu .user_photo {
        margin-bottom: 10px;
        border-radius: 5px; } }

.menu-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #2C8DFB;
  border-radius: 5px; }
@media(max-width: 767px) {
  .menu-button {
    display: block; } }
  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px; }
  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px; }
  .menu-button .bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  -ms-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg); }

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9; }

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  -ms-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg); }

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg); }

.cross .bar:nth-of-type(2) {
  opacity: 0; }

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg); }

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  -ms-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg); }

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1; }

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  -ms-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg); }

/*# sourceMappingURL=style.css.map */
